[2014-06-16 10:06] ctaepper opened #1 "dynamic updating of picture source"
if the public-id attribute is a angular variable that gets changed, the current image is not updated... (should behave like ng-src)

[2014-06-20 04:18] kbowerma opened #2 "question about porting to mean.io as a package."
I am trying to get the sample app working as a package in the mean.io stack and I am getting the following error undefined is not a function from the following line in the controller.

    $scope.widget = $(".cloudinary_fileupload")

By default my app is loading jquery but I think I had read that you should not mix jquery syntax in angular.  Can you shed any light in this issue I am having.

  It

[2014-06-20 06:54] #1 closed, assigned to nobody

[2014-06-23 22:45] kbowerma opened #3 "sample doc update."
I did not realize that the sample app should be displaying the contents of the album.  When I created my album I added a tag `bowerman` and had to change services.js line 7 from
`var url = $.cloudinary.url('myphotoalbum', {format: 'json', type: 'list'});`
to
`var url = $.cloudinary.url('bowerman', {format: 'json', type: 'list'});`

I also changed the controller at line 17 from myphotoalbum to
`.un

[2014-07-09 00:12] Tyvain opened #4 "How to replace with an upload image?"
Hi,

I replace the code in the directive to have an upload image (in angular.cloudinary.js) like this (it works perfectly):
 template : '<div class="fileUpload btn btn-primary"><span>Ajouter une image</span><input name="file" type="file" class="upload" data-cloudinary-field="image_id"/> </div>',

The problem is that my lib directory in not versionned so I don't know how to have it saved. (I don't

[2014-07-09 05:47] #3 closed, assigned to nobody

[2014-09-16 16:58] crmpicco opened #10 "Unable to pull back image from Cloudinary with cl-image tag"
Hi,
I am currently attempting to integrate the Cloudinary CDN into my Angular application. It is pretty basic at the moment, but you can see the live site at www.wrestlemaniamainevent.com

I have an image in my cloud drive with a public id of "mania12". I know this works as I can pull it back in PHP using the cloudinary_php library by doing this:

`<?php
cl_image_tag("mania12", array( "alt" => "Sa

[2014-09-19 16:53] #10 closed, assigned to nobody

[2014-09-29 16:54] crmpicco opened #11 "how to return URL only with no markup"
Hi,

Can you advise if it is possible to use the cloudinary_angular to pull back an URL only for use with inline markup such as this:

`<div class="fill" style="background-image: url('http://res.cloudinary.com/wrestlemania-main-event/image/upload/c_fill,h_559,q_60,w_800/mania12.jpg');">`

I can see that I can use the `<cl-image>` tag, but this returns an `<img>` tag which i'm not looking for.

Doe

[2014-10-03 16:46] #11 closed, assigned to nobody

[2014-12-29 12:37] FREEZX opened #15 "Signed image upload?"
Hi, i couldn't find any documentation about achieving signed image upload with this.
Is it possible? Any documentation on it?

[2015-01-05 02:58] sgireddy opened #16 "could drag multiple images but are not being uploaded"
Looks like we could drag or select multiple images but it is only uploading the latest image. can you please add support to upload multiple images? I was able to add this feature on jquery with multiple="multiple" but the same is not working for angular version.

                <div class="form_line">
                    <label>Image:</label>
                    <div class="form_controls">

[2015-01-08 11:55] itaibenari commented on #16
pushed an updated example with multiple uploads. see if it is useful.

[2015-01-09 03:15] sgireddy commented on #16
cool, thank you. For the sake of completeness can you please enhance it to include both single file & multi-file upload options separately.

[2015-01-27 13:27] #16 closed

[2015-01-28 21:48] thenikso commented on #15
+1

[2015-01-29 18:12] tyrw opened #18 "Remove dependency on jQuery"
I'd love to drop this into our project, but the dependency on jQuery is a deal-killer since we're keeping things as light as possible.

We (and I assume many others) would find it pretty valuable to have cloudinary as a standalone bower install to get up to speed more quickly.

[2015-02-11 13:50] julianfox commented on #18
+1 same for us...

[2015-02-13 01:17] taragano commented on #18
It's on our road-map to support a jQuery-free solution for our Angular client library.
We'll let you know of any updates.

[2015-02-16 14:13] jenyas opened #19 "Uploading doesn't work with angular-file-upload 3.0.4"
$upload.upload Receives an error from the server saying upload_preset wasn't passed in request.

[2015-02-22 01:37] your-coddy commented on #19
Same problem for me. I checked the request details in the console and upload_preset is there as it was set inside the code.

[2015-02-22 01:45] your-coddy commented on #19
Just figured it out! Change the "data" key to "fields", inside the dict given for the upload function.

[2015-02-23 09:48] npearson72 opened #20 "How to collect multiple upload successes using a forEach loop?"
I'm uploading multiple images at a time, and want to collect the results in an array that I can then submit to my DB. I'm not super experienced with promises, so I'm not sure how to wait until all of the data is collected before sending the array on to my DB.

Any ideas?

[code]

[2015-02-28 16:59] #20 closed

[2015-03-05 16:06] 111studio opened #21 "CORS Issue Using angular-file-upload"
Hi,

I'm currently getting the following error when I try to upload using the angular-file-upload on Chrome :

XMLHttpRequest cannot load https://api.cloudinary.com/v1_1/xxxxx/users. The request was redirected to 'http://api.cloudinary.com/api/v1_1/xxxxx/users', which is disallowed for cross-origin requests that require preflight.

Here is the Request / response headers of my request  :
[code]

An

[2015-03-06 00:42] 111studio commented on #21
One should not code too late at night :(

My issue was that the url should be
[code]
instead of
[code]

Thank you

[2015-03-06 00:42] #21 closed

[2015-03-20 22:01] dasebast commented on #19
Thanks coddy! That was so frustrating.

[2015-03-22 20:59] tocker commented on #19
See also https://github.com/danialfarid/ng-file-upload/releases/tag/3.0.0:

The 'fields' option is added to $upload.upload() to send form data fields along with files like. This is similar to data option in the previous version.
You can still use the data option but it will be sent as a form data field with the name data to the server as one object. See the Readme file for more details.

[2015-03-22 20:59] #19 closed

[2015-03-22 21:01] tocker commented on #2
Closing due to the time past. Please feel free to reopen if you're still experiencing the problem.

[2015-03-22 21:01] #2 closed

[2015-04-09 11:42] ombr commented on #15
+1 And I would like to have an example without dom manipulation inside the angular controller :
http://ng-learn.org/2014/01/Dom-Manipulations/

[2015-04-13 13:46] wikett opened #23 "XMLHttpRequest cannot load ..."
Hi,
I´ve spent two days trying to use cloudinay angular in my angular project but I have always the same problem and I don't know how to solve it.

Has someone experience with this error?

[code]

Thanks in advance

[2015-04-15 08:19] tocker commented on #23
Hi @wikett,

You should not send the `Authorization` header field in the API.
BTW, you can see which fields are acceptable in any server by examining the `Access-Control-Allow-Headers` header in a pre-flight response ([more](https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS#Access-Control-Allow-Headers)).

You can look at the [sample project](https://github.com/cloudinary/cloud

[2015-04-15 08:48] wikett commented on #23
Thanks for all

[2015-04-15 09:27] tocker commented on #15
@FREEZX and @thenikso, signing a request requires knowledge of your _API secret_. For this reason client side code does not sign requests. It will be too easy to extract the API secret from the JavaScript code running on the browser.

As an alternative, you can use an upload preset, or a server side component to sign the request.

See [this blog post for further information](http://cloudinary.com/

[2015-04-15 09:27] #23 closed

[2015-04-15 23:15] FREEZX commented on #15
@tocker I understand that, but client side code should be able to prepare a request, the backend should sign it and then the client code can directly upload the image by sending it along with the signature.

[2015-04-17 17:13] thenikso commented on #15
eventually I understood how use signed upload-presets generating the signature from my server:

- create a signed preset in cloudinary
- make an api that uses `cloudinary.utils.sign_request` (in python) to return a json with signed cloudinary upload request payload
- use angular-file-upload with that payload to upload the file

[2015-04-18 20:28] sameershenai opened #24 "File upload sample example fails with error: "Upload preset Must specify upload preset when using unsigned""
I am getting error: "Upload preset Must specify upload preset when using unsigned". My config settings are fine. Issue seems to be because upload_preset is not sent as a form-data param but as a part of json

[2015-04-18 20:30] sameershenai commented on #24
I figured out the issue. ng-file-upload appends the json to form if set as 'data' parameter.

Changed it to fields as below and it worked :
$scope.upload = $upload.upload({
                    url: "https://api.cloudinary.com/v1_1/" + $.cloudinary.config().cloud_name + "/upload",
                    fields : {upload_preset: $.cloudinary.config().upload_preset, tags: 'routes', context:'photo=' + $s

[2015-04-18 20:30] #24 closed

[2015-04-21 23:02] yjaques opened #25 "Fetch not working in this example"
Installing this Angular project, everything works fine but the fetch examples do not. has something changed in the underlying API?

[2015-04-23 15:03] yjaques commented on #25
Ah I see, had to enable fetch in the Admin console. Sorry.

[2015-04-23 15:03] #25 closed

[2015-04-26 23:42] npearson72 opened #26 "Support for default image tag?"
The rails view helper has support for the `default_image` tag as described here:

http://cloudinary.com/blog/placeholder_images_and_gravatar_integration_with_cloudinary

It doesn't seem like this library supports that... or am I doing something wrong? If not, are there plans to support it?

Thanks!

[2015-04-27 00:05] npearson72 commented on #26
Seems I need to pass some string value for the public_id for this to work. It cant be null.

[2015-04-27 00:05] #26 closed

[2015-04-29 06:33] ArdentKid commented on #18
+1

[2015-05-02 21:25] azachar commented on #18
+1

[2015-05-02 21:27] azachar opened #27 "How to generate og:image tags?"
Hello!

Is there any support for generating dynamic meta tag og:image url for facebook?

meta(property="og:image" content="image url how in angular??")

How should I get this?

Thanks,
Andrej

[2015-05-03 13:04] tocker commented on #27
Hi @azachar,

You can use the JavaScript API to generate the image url:

[code]

See the [JavaScript documentation](http://cloudinary.com/documentation/jquery_integration) for more details.

[2015-05-04 07:28] azachar commented on #27
Thanks! Please provide more typical examples in your angular project. Just couple of typical usage. To find this I spent some time... But anyway thank you for your reply.

[2015-05-04 07:28] #27 closed

[2015-05-08 20:21] LearningTools opened #28 "cluoudinary in ionic framework"
as would be the process for using ionic framework and upload the image, Greetings

[2015-05-11 11:29] tocker commented on #28
Hi @LearningTools,

I have not tried it yet myself, but @calendee posted a gist that seems to do the job: [imageUploadService.js](https://gist.github.com/calendee/20e344a8152ff76cbe6f).

[2015-05-11 14:33] LearningTools commented on #28
o.k gracias , casi no entiendo el servicio :p

[2015-05-13 15:01] burakkilic opened #29 "I'm getting Cross-Origin Request Blocked error since 2 weeks"
Hi;

I was successfully using the library. But since 2 weeks, I started to get CORS error. What is the proper way to fix that?

UPDATE: In Chrome, I am getting following:

    Request header field Authorization is not allowed by Access-Control-Allow-Headers

[2015-05-14 07:08] tocker commented on #29
Hi @burakkilic,

Which server is returning the message? Can you provide more details, such as the request and response headers?

[2015-05-14 08:48] burakkilic commented on #29
![screen shot 2015-05-14 at 11 48 10](https://cloud.githubusercontent.com/assets/123382/7628704/2fe3d6f6-fa2f-11e4-9745-df206b207cc3.png)
![screen shot 2015-05-14 at 11 48 21](https://cloud.githubusercontent.com/assets/123382/7628705/2ffe8672-fa2f-11e4-9b19-d6e4303be9e0.png)

[2015-05-14 09:29] tocker commented on #28
Sure!

Please feel free to contact us for any other issue.

[2015-05-14 10:05] tocker commented on #29
You should not send the `Authorization` header field in the API.
BTW, you can see which fields are acceptable in any server by examining the `Access-Control-Allow-Headers` header in a pre-flight response ([more](https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS#Access-Control-Allow-Headers)).

You can look at the [sample project](https://github.com/cloudinary/cloudinary_angular

[2015-05-14 10:32] burakkilic commented on #29
But I do not send the Authorization header. Also it is not seen in the screenshots above.

I also added

    headers: {
                    'Authorization': undefined
                }

to my request but nothing has changed.

[2015-05-20 14:15] burakkilic opened #30 "Any support video uploads?"
Hi;

I heard that cloudinary now supports video uploads. Is there any plan to support it?

[2015-06-08 12:19] websirnik commented on #18
+1

[2015-06-13 18:52] franciscocobas opened #31 "Upload singed photos with eager transformation"
I need to upload an image with an eager transformation. So by Cloudinary restriction I need to create a singed upload.

The following code is what I did, but it is not working... Anyone can help me?

    cloudinary.uploadImage = function (file) {
        var deferred = $q.defer();
        var timestamp = (new Date).getTime() / 1000; // in seconds
        var signature = serverAPI.getHashSignature(

[2015-06-20 17:54] taragano commented on #31
Hi,

Please note that:

1. `eager` should be in `data` - as the eager transformations are processed on the server.
2. Note that Eager transformations tells Cloudinary to upload the original image as is and eagerly generate additional versions of the image (transformed). If you need to transform the original, you should use an Incoming Transformation, which transforms the image before storing it in

[2015-06-20 21:08] franciscocobas commented on #31
Hi yes, it helped me, thanks a lot! and you are right about using "transformation" param.

here is the final working code...

    cloudinary.uploadImage = function (file) {
        var deferred = $q.defer();
        var timestamp = (new Date).getTime() / 1000, // in seconds
            max_width = '1920', //in pixels
            max_height = '1080', //in pixels
            transformation_parameter

[2015-06-20 21:08] #31 closed

[2015-06-23 13:11] taragano commented on #30
It's on our road map to detach jQuery from our Angular library, including adding video support.
In the meantime, you can use our jQuery library to build video tags and URLs

[2015-07-06 02:45] paulogr commented on #18
+1

[2015-07-08 17:08] ianforsyth opened #33 "Sample not working in ie9"
I'm trying to get angular and cloudinary uploads to work in ie9 but haven't been able to yet. After opening a ticket with cloudinary they sent me to this repo. I have the sample project working in all browsers and ie10 but in ie9 when I click on the link to upload angular files the page is mostly blank.
![ie9_-_win7__clean___running_](https://cloud.githubusercontent.com/assets/4276285/8576784/6ba0

[2015-07-22 09:06] xaralis commented on #18
Yes! For us, it would be perfectly possible to even live with jQuery as dependency, but the problem is with all other dependencies it introduces - blueimp-file-upload in particular. The only thing from your jQuery cloudinary-js lib used here is `cloudinary.url()` function. Please, port it... thanks.

[2015-07-23 12:30] tocker commented on #29
Hi @burakkilic,

Sorry for the delay in my response.

I was referring to the **Access-Control-Request_header** in your screenshot.
![2fe3d6f6-fa2f-11e4-9745-df206b207cc3](https://cloud.githubusercontent.com/assets/346642/8850127/fb5f5c24-314d-11e5-9a9a-d57681a585c6.png)

Can you please share the environment you are using (name and version numbers of components)?

[2015-07-26 00:37] ronnpang1 commented on #29
I had this issue too.
As Tocker stated, you're sending an authorization header to the api. In my project I had an interceptor that was sending an authorization token with every request with the angular-jwt library.

I managed to get rid of this error by adding:
upload.upload{
....
skipAuthorization: true
}
in the upload function. This will prevent the authentication request from being sent with th

[2015-07-26 00:40] spacepang commented on #29
I had this issue too.
As Tocker stated, you're sending an authorization header to the api. In my project I had an interceptor that was sending an authorization token with every request with the angular-jwt library.

I managed to get rid of this error by adding:
upload.upload({
....
skipAuthorization: true
})
in the upload function. This will prevent the authentication request from being sent with

[2015-07-31 01:25] seokgyo opened #34 "please make the version 0.1.3 available."
'bower install cloudinary_ng' installs the 0.1.2 version.
please make the version 0.1.3 available.

[2015-08-02 10:05] tocker commented on #29
@spacepang - thanks for the tip. It only applies to angular-jwt unfortunately.
Angular and the Cloudinary SDK are not adding this header, so the culprit must be some code in between.

[2015-08-17 00:49] ankitg06 commented on #34
+1

[2015-08-18 14:13] igorauad commented on #15
Hi @thenikso, quick question: 'cloudinary.utils.sign_request' responds among other info with the 'api_key'. Is this ok regarding security (provided the Api secret is safely maintained in the backend)?

[2015-08-21 07:59] tinusn commented on #18
I created a version with no depency on jquery, get it here [cloudinary-angular](https://github.com/tinusn/cloudinary-angular). Please note that it does not include all directives.

[2015-08-23 18:23] tocker commented on #34
Published version 0.1.4 (and 0.1.3 for history's sake :grinning: )

[2015-08-23 18:23] #34 closed

[2015-08-25 16:26] thenikso commented on #15
Yes @igorauad that's all right, the `api_key` is not a private information (while the *api secret* is)

[2015-08-25 19:06] igorauad commented on #15
Thanks @thenikso !

[2015-08-27 09:22] tocker commented on #29
@burakkilic I found that other libraries are adding the Authorization header to the request. One such library is [Satellizer.js](https://github.com/sahat/satellizer).

@spacepang's suggestion (skipAuthorization) works for satellizer too.

If you are still experiencing this issue, verify that other scripts are not modifying the request. (In Angular this is normally done using $httpProvider.intercep

[2015-08-27 09:22] #29 closed

[2015-09-13 19:52] sunabozu commented on #29
@spacepang Thanks man, you saved me a lot of time!

[2015-09-21 00:03] robksawyer commented on #28
Doesn't seem to be working for me in Ionic. However, it works fine in the browser via `ionic serve`. But, when you get it to the device, something is failing. Any ideas?

[2015-09-21 08:09] robksawyer commented on #28
After some debugging (via Safari), I found that when using `cl-image`, the protocol is transformed to `file://` when running on the emulator and very likely on the actual device. Any idea how to fix it?

Have an open question on StackOverflow, as well. See http://stackoverflow.com/questions/32686054/cloudinary-images-not-working-via-ionic-framework.

<img width="965" alt="screen shot 2015-09-21 at

[2015-09-22 22:05] kruny1001 opened #36 "can you upload cloudinary angular itself"
cloudinary angular have dependency cloudinary js and cloudinary. and also it has https://github.com/blueimp/jQuery-File-Upload dependency. My automation task by grunt generates huge dependency lists from your dependency setting can you upload individually?

[2015-09-24 12:26] benjaminch opened #37 "Can we use it for Facebook meta image tag ?"
Hello there,

First of all, thanks a lot for this awesome repo :)
I am wondering if we can use cloudinary_angular to generate Facebook Image Meta header (meta tag rather than img one)?

Here's an example from the Facebook dev documentation :

[code]

Do you think we can generate such output with this package?

Thanks,
Benjamin

[2015-09-24 13:46] ThomasDolso opened #38 "Bower Install Issue"
Hi,
when I try to install the bower components for the photoalbum I get the following error:

bower ng-file-upload#7.0.x      cached git://github.com/danialfarid/angular-file-upload-bower.git#7.0.17
bower ng-file-upload#7.0.x    validate 7.0.17 against git://github.com/danialfarid/angular-file-upload-bower.git#7.0.x
bower angular-route#1.4.x       cached git://github.com/angular/bower-angular-rout

[2015-09-30 23:11] ArdentKid commented on #38
bump.

getting the same message, won't get through bower install or npm start.

[2015-09-30 23:18] ArdentKid commented on #38
here's my npm-debug.log:

[code]

[2015-09-30 23:38] ArdentKid commented on #38
@ThomasDolso found the solution. In samples/photo_album/bower.json, change your cloudinary_ng dependency to just "#master":

[code]

[2015-10-07 12:23] tocker commented on #38
Fixed by #40. Thanks!

[2015-10-07 12:23] #38 closed

[2015-10-07 12:29] tocker commented on #36
We are releasing soon a new version of [cloudinary_js](https://github.com/cloudinary/cloudinary_js) that has a jQuery- and Blueimp- free core library.

[2015-10-28 21:27] #36 closed

[2015-10-28 22:41] kruny1001 opened #41 "how to use secure url by using cl-image directive?"
I need to have a https url. I have look through the code and it seems there is no option for secure version of image url/

[2015-11-17 22:31] ericyliu opened #43 "Round height and width values before sending to cloudinary"
Cloudinary does not accept decimal height and width values, so the cl-transformation directive should round any input before sending them off

[2015-11-17 23:39] ajsharp opened #44 "Support for named transformations"

[2015-12-02 13:09] taragano commented on #30
Closing this issue due to the time elapsed.
Please feel free to contact our support http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2015-12-02 13:09] #30 closed

[2015-12-02 13:42] taragano commented on #15
Closing this issue due to the time elapsed.
Please feel free to contact our support http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2015-12-02 13:42] #15 closed

[2015-12-02 13:59] taragano commented on #41
Sorry for my response delay.

You can set the `secure` parameter to `true`, e.g.,:

[code]

[2015-12-02 14:03] taragano commented on #43
Sorry for my response delay.

Something like the following should work, can you please let me know if it works for you?

[code]

[2015-12-02 14:06] taragano commented on #44
Sorry for my response delay.

Named transformations are actually already supported.
Here's an example:

[code]

[2015-12-02 16:15] tocker commented on #4
Hi @Tyvain,
If this is still an issue, can you please provide more details and explain what you are trying to do?

[2015-12-14 17:10] narutosanjiv commented on #29
@spacepang  Thanks man, You saved me too.

[2015-12-14 17:45] dedric17 opened #45 "Image Tag Directive inside of an ng-repeat"
Hi,
I'm trying to use the Cloudinary Image tag directive inside of an ng-repeat and not having much success.

    <div class="container" ng-repeat='item in items track by $index'>
    	<article class="row">
        	<header class="col-sm-12">
                    <h1 class="title">

                	{{item.title}}
            	</h1>
                <cl-image public-id="{{ item.image.public_id }}" c

[2015-12-14 17:56] dedric17 opened #46 "Image Tag Directive inside of an ng-repeat"
Hi,
I'm trying to use the Cloudinary Image tag directive inside of an ng-repeat and not having much success.

    <div class="container" ng-repeat='item in items track by $index'>
    	<article class="row">
        	<header class="col-sm-12">
                    <h1 class="title">

                	{{item.title}}
            	</h1>
                <cl-image public-id="{{ item.image.public_id }}" c

[2015-12-14 17:56] #46 closed

[2015-12-29 22:52] #45 closed

[2016-01-07 13:52] #4 closed

[2016-01-07 14:09] tocker commented on #37
Hi @BenjaminCh ,

Thanks for the pull request and sorry for the delay. See my comment in your pull request.
I think it would be easier to simply use `cloudinary.url` to generate the content. As far as I understand this field is not dynamic so there is no need to monitor it.

[2016-01-17 20:47] romelgomez opened #48 "I get: General Error, when update to last version on ng-file-upload 11.1.1"
Hi,

With the last version of https://github.com/danialfarid/ng-file-upload, (11.1.1) , i get

{"error":{"message":"General Error"}}
POST https://api.cloudinary.com/v1_1/<**********>/upload 500 (Internal Server Error)

[code]
best regards.

[2016-01-27 02:51] kishaningithub opened #49 "How to do responsive images"
For the jquery version the doc is here
http://cloudinary.com/blog/how_to_automatically_create_images_for_responsive_design#api_example_2

How to do it with angular?

Setting width to auto and calling cloudinary.responsive() in controller does not work!
In the above link the "responsive image" is in "data-src" as opposed to "src" but cl-image puts
image in "src" which gives the following error

[co

[2016-01-28 16:16] chetan1507 opened #50 "jQuery.cloudinary doesnt seem to be defined."
Hi Team,

I am trying to integrate my angular application code with Cloudinary and I am also using jQuery in the application.

There seems to be an issue with the following logic.
[code]
I see both **cloudinary.CloudinaryJQuery** and **jQuery** defined, but **jQuery.cloudinary** doesn't seem to be defined, because of which I see an error. Any reason what might causing this issue?

[2016-01-28 16:18] chetan1507 commented on #50
When I remove cloudinary-jquery-file-upload.js from my html file (as in the example with jQuery), cloudinary.url seems to work fine.

[2016-01-28 16:25] chetan1507 commented on #50
Had 2 jquerys defined.

[2016-01-28 16:25] #50 closed

[2016-01-31 08:03] tocker commented on #49
Confirmed.
@kishaningithub thanks for reporting this!

[2016-02-08 07:35] VesperDev opened #51 "Upload preset must be whitelisted for unsigned uploads - question"
the following error hola que tal greetings to the community have the following questions when saving an image appears Cloudinary

`
$scope.uploadPic = function(file) {
      Upload.upload({
        url: "https://api.cloudinary.com/v1_1/" + cloudinary.config().cloud_name + "/image/upload",
        data: {
          upload_preset: cloudinary.config().upload_preset,
          tags: 'myphotoalbum',

[2016-02-14 14:01] taragano commented on #51
As long as you use unsigned uploads, you should make sure that the upload preset you've defined is unsigned. This can be done via your account's [Upload settings page](https://cloudinary.com/console/settings/upload), click "Edit" next to your upload preset, and change its "Mode" to "Unsigned".

[2016-02-14 14:07] taragano commented on #48
I'm sorry for my response delay.
Do you still experience this issue? If so, can you please share the details and timestamp of a specific recent request, so we'll be able to try and take a look at it in our logs?

[2016-02-14 15:36] taragano commented on #41
@kruny1001 - Just wanted to check whether my last response helped with answering your question.
As it's been a while since the last response, I'll close this issue now, but please feel free to re-open it if you need any further assistance.

Thanks

[2016-02-14 15:36] #41 closed

[2016-02-14 15:37] taragano commented on #44
@ajsharp - Just wanted to check whether my last response helped with answering your question.
As it's been a while since the last response, I'll close this issue now, but please feel free to re-open it if you need any further assistance.

Thanks

[2016-02-14 15:37] #44 closed

[2016-02-14 15:38] taragano commented on #43
@ericyliu - Just wanted to check whether my last response helped with answering your question.
As it's been a while since the last response, I'll close this issue now, but please feel free to re-open it if you need any further assistance.

Thanks

[2016-02-14 15:38] #43 closed

[2016-02-14 21:54] romelgomez commented on #48
Hi, yes the issue still happening, i make a video to show you the issue,

https://youtu.be/e94ls-T_Bnc

The first part of the video i show the file upload with: ng-file-upload 7.0.17, currently it is working properly.

The second part i update to 12.0.1, and use the new syntax that ng-file-upload proposes.

This is the time-stamp of the one recent request:

Access-Control-Allow-Methods:POST, GET,

[2016-02-15 10:23] taragano commented on #48
Thank you for the additional information and video demonstration.

The problem is related to the way the `tags` parameter is serialized. You are using `tags[0]=...` which is currently not supported. Please try to either use `tags[]=...` or `tags=...` (the tags can be comma separated).

Let me know if this works for you?

[2016-02-15 13:25] romelgomez commented on #48
Thanks @taragano , now it works:

i change this:
            tags: [publicationId]
for this:
            tags: publicationId

[2016-02-15 13:25] #48 closed

[2016-02-23 05:08] mikepc commented on #23
I have an authentication library (satellizer) that automatically injects the authorization header into any $http call  for my API. Do you know how I can go about removing it from the ng-file-upload call without re-doing my authentication plumbing?

[2016-02-24 00:23] tocker commented on #23
Hi @mikepc

To prevent satellizer.js from adding the header, add `skipAuthorization: true` to the upload parameters (see  also https://github.com/sahat/satellizer#question-how-can-i-avoid-sending-authorization-header-on-all-http-requests).

For example:

[code]

[2016-02-24 00:26] tocker commented on #18
As of version 0.2.0 the library does not depend on jQuery.

[2016-02-29 13:02] taragano commented on #48
@romelgomez - Our system was just updated, and we now support PHP style serialization of the `tags` parameter in upload and explicit APIs.

[2016-03-10 04:03] zarkosusnjar opened #53 "Can't setup image crop"
Hi,

After checking every possible link, repo, version and blog, I'm sure I'm missing something to successfully setup Blueimp cropping in photo_album_with_jquery sample.

Uncommented lines in controllers.js, no change.

[code]

Added couple of additional scripts to index.html, moved them around, no change.

I see some differences in how file is processed depending on flags in controllers.js, but t

[2016-03-10 10:33] #53 closed

[2016-03-30 07:20] ctaepper opened #54 "Publish to npm"
i'd like to install this via npm (similar to the new pkg-cloudinary-core)

[2016-04-20 07:10] prasanthkrishnan opened #55 "Responsive images within a directive fails to find the parent width"
Hey guys,
Recently, I was building a [carousel](https://angular-ui.github.io/bootstrap/#/carousel) and ran into the following problem
My Code

[code]

Rendered html

[code]

Console error (for each img in ng-repeat)

[code]

My initial thoughts were, because the parent element was a directive cloudinary was unable to find the parent element width.
I forced the order of resolution by changing the p

[2016-04-22 00:41] cescoferraro opened #56 "feature-request: angular2 support?"

[2016-05-08 16:09] nadavivry opened #57 "Feature request: Video support"
It's great you guys created this module, but what about video support?

[2016-05-09 21:51] prasanthkrishnan commented on #55
any update guys ?

[2016-05-18 04:33] tocker commented on #55
Hi @prasanthkrishnan, which browser was your code running in?

[2016-05-18 16:41] prasanthkrishnan commented on #55
It's chrome

[2016-06-13 13:21] roeeba commented on #57
It's on our road-map to support `cl-video` in our Angular SDK. There is currently no ETA we can share.

[2016-06-13 17:08] taragano commented on #56
It's on our road-map to officially support Angular 2. However there's no ETA for this yet.

[2016-06-21 18:23] cavarzan opened #58 "tags fields not working"
Hi!

The `tags` fields seems to be not working. This is a sample of upload:

[code]

The context works fine, but I didn't receive in the response the tags fields created with these parameters.

Am I missing something?

[2016-06-29 22:02] taragano commented on #58
Hi @cavarzan ,

Do you perform unsigned uploads or signed? Also, do you have tags defined on your upload preset?
Because if the upload preset has a tag definition, it will override the tags in the upload data. Otherwise tags are passed correctly.

[2016-06-29 22:33] fabianrios opened #60 "can you delete or update?"
if not can you point me in the right direction to try to contribute to do it, thanks

[2016-06-30 01:31] taragano commented on #60
Hi @fabianrios,
Can you please share some more information regarding what specifically your requirements are?

[2016-07-05 05:39] MYasirSheikh commented on #23
I am using token based Authentication for my app which adds a header. I tried the above method which does not work. Is there any other way to get through this problem

[2016-07-05 14:11] cavarzan commented on #58
@taragano Yes, I'm using defined tags in cloudinary, should be that! Thanks!

[2016-07-05 14:12] #58 closed

[2016-07-25 07:21] kishaningithub commented on #49
Any update on when this would be fixed?

[2016-07-25 07:22] kishaningithub opened #61 "Angular 2 support"
Just a question on whether Angular 2 support is on your road map?

[2016-07-26 15:09] buildjosh commented on #54
Any update on this?

[2016-08-04 21:44] Airswoop1 commented on #61
+1

[2016-08-17 21:15] daohodac commented on #56
+1

[2016-08-22 23:43] taragano commented on #51
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support http://support.cloudinary.com or create a new ticket if you have any additional issues

[2016-08-22 23:46] taragano commented on #60
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support http://support.cloudinary.com or create a new ticket if you have any additional issues

[2016-08-22 23:46] #60 closed

[2016-08-29 14:13] vineshhpatel opened #62 "Question: How to use eager transformation with this library?"

[2016-08-30 12:44] MaorGariv commented on #62
You can pass the eager transformations in the [upload preset](http://cloudinary.com/documentation/upload_images#upload_presets) you specify for the upload.
This is a centralised way to control and normalise your uploads.
For more information,
http://cloudinary.com/blog/centralized_control_for_image_upload_image_size_format_thumbnail_generation_tagging_and_more

[2016-10-06 10:58] sonalkadam9 opened #63 "image id is not getting replaced in the public-id"
The image id is not getting replaced in the public-id. Can someone hlep me with this. Am i using it right?
1. Cloudinary HTML code :

[code]
1. angular - controller:

$scope.profileImageId=userSession.getData().profileImageId;
1. Cloudinary request generated :

http://res.cloudinary.com/realint/image/upload/bo_2px_solid_rgb:00390b60,c_thumb,g_face,h_150,w_150/%7BprofileImageId%7D.jpg

[2016-10-07 21:41] taragano commented on #63
Please try the following and let me know if it works for you? (double braces):

[code]
Here's a reference:
https://github.com/cloudinary/cloudinary_angular/blob/a29230673bcb2912352429d0c2ac61c7581522f7/samples/photo_album_with_jquery/app/partials/photo-list.html#L59

[2016-10-14 04:38] diegopamio commented on #54
I really need this too. Or at least a nice workaround.

[2016-10-14 05:06] diegopamio commented on #54
I've just realized that there is a simple workaround, just use the full github url as the package name, and it works.

[2016-10-17 08:20] bjornharvold commented on #56
+1

[2016-10-29 09:20] bjornharvold commented on #61
+1 #bump

[2016-10-29 09:24] bjornharvold commented on #56
https://github.com/ekito/ng2-cloudinary

[2016-10-29 09:25] bjornharvold commented on #61
https://github.com/ekito/ng2-cloudinary

[2016-10-31 18:07] taragano commented on #61
It is indeed on our road-map to officially support Angular 2, however there's no ETA for this at the moment.
Thank you @bjornharvold for sharing the "ng2-cloudinary" repo. We'll be happy to check it out.

[2016-11-08 13:22] beeeku opened #64 "Deleting Uploaded file from client side"
There is no documentation about how to delete a recently uploaded file from angular can you guide me about it .

[2016-11-09 23:34] taragano commented on #64
Deleting from the client-side can be done up to 10 minutes after the images were uploaded.
This feature is documented here:
http://cloudinary.com/documentation/upload_images#deleting_client_side_uploaded_images

The `delete_by_token` helper method is currently available in our jQuery library only, it's on our road-map to add it to our Angular library too.

In the meantime, you can have a look at t

[2016-12-30 21:37] taragano commented on #63
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support http://support.cloudinary.com or [create a new ticket](https://support.cloudinary.com/hc/en-us/requests/new) if you have any additional issues.

[2016-12-30 21:37] #63 closed

[2017-01-06 22:00] schugh opened #65 "NamedNodeMap check causes Firefox Gecko <34 to crash"
Need to add typeof check before attempting to evaluate NamedNodeMap

var isNamedNodeMap = source && (source.constructor.name === "NamedNodeMap" || source instanceof NamedNodeMap)

to

var isNamedNodeMap = source && (source.constructor.name === "NamedNodeMap" || (typeof NamedNodeMap != 'undefined' && source instanceof NamedNodeMap));

[2017-01-10 17:07] iamakimmer opened #66 "Unable to upload image at a specific transformation and width"
I'm trying to specify a width here but it's still saving the original image. How can I specify a crop with limit and width 600?

`        Upload.upload({
          url: "https://api.cloudinary.com/v1_1/myfolder/upload",
          data: {
            crop: 'limit',
            width: 600,
            folder: window.location.host,
            upload_preset: 'abcd',
            file: file
          }

[2017-01-11 23:22] schugh commented on #65
Any word on this? Should be a direct swap out of the line. We still have number non-trivial number of folks that can't our web app because of this

[2017-01-13 00:09] taragano commented on #66
Do you perform unsigned uploads? If you do, then note that unsigned uploads do not support defining an incoming transformation as part of the dynamic upload options. To apply this transformation, you'll need to define this in the upload preset's settings.
Let me know if this works for you?

[2017-01-15 09:22] tocker commented on #65
Fixed by #67

[2017-01-15 09:22] #65 closed

[2017-01-15 09:27] tocker commented on #61
Hi All,

I'm happy to report that we published our Angular 2.0 library. You can find the sources in the branch [angular_next](https://github.com/cloudinary/cloudinary_angular/tree/angular_next). You can install it using `npm` or `yarn` with the name `@cloudinary/angular`.

[code]

[2017-01-15 10:36] bjornharvold opened #68 "import { CloudinaryModule, CloudinaryConfiguration, provideCloudinary } from 'cloudinary-ng';"
'cloudinary-ng' does not exist. Probably best to update README.MD

[2017-01-15 10:41] bjornharvold opened #69 "Using require() with Angular CLI"
require() is internal to NodeJS and not available to users of Angular CLI if I am not mistaken. I cannot use this code as it fails.

provideCloudinary(require('cloudinary-core'), { cloud_name: 'your_cloud_name' } as CloudinaryConfiguration)

[2017-01-15 10:44] eitanp461 commented on #68
Thanks!
We missed to rename that reference with the new name
Fixed by https://github.com/cloudinary/cloudinary_angular/commit/aa6170fe90f4365ac08f61a2dbea3a2996e85c02

[2017-01-15 10:44] #68 closed

[2017-01-15 10:50] eitanp461 commented on #69
`require` is meant to be resolved by the module loader.
Our examples show usage of either Webpack or SystemJS.

Angular CLI is in fact using Webpack ([reference](https://github.com/angular/angular-cli#webpack-update)) so it should be ok.

Can you share additional details if you're experiencing problems?

[2017-01-16 07:19] bjornharvold commented on #69
Hi,

This is what I get when I import your library into my app:

<img width="762" alt="screengrab" src="https://cloud.githubusercontent.com/assets/641791/21974006/cb341b98-dbf6-11e6-9ed2-14afac765bc5.png">

[2017-01-16 08:27] eitanp461 commented on #69
`require` is used by the package loader, and is supported by Webpack and SystemJS.
Which one are using?

Nonetheless you can `import` cloudinary-core the same way you import other modules in the top of the file.

Add the following import statement to the head of the file
`import {Cloudinary} from 'cloudinary-core';`

And replace provideCloudinary with the following:
`provideCloudinary({Cloudinary}

[2017-01-16 13:42] bjornharvold commented on #69
This was helpful and got me a little further. Here's the next error.

[code]

I think this is a limitation imposed by Angular since 2.4 to make all 3rd party modules be AoT compliant. ng2-translate had a fix for this and did something like this:

[code]

[2017-01-16 21:49] schugh commented on #65
Thanks for getting to this; seems that the fix isn't complete though.

You still need the typeof check in both if blocks (original post) to prevent attempted evaluation of NamedNodeMap object crashing the webpage.

![image](https://cloud.githubusercontent.com/assets/2747760/22000039/f946e1e6-dbf1-11e6-91dd-77cc84df0d26.png)

Do give it a test run in a Mozilla browser pre 34 to reproduce the behavi

[2017-01-17 10:48] eitanp461 commented on #65
Hi

The fix was verified on Firefox 33 before the merge.
Since we haven't published a release yet, you'll have to adjust your bower.json to install the fixed version manually:

Replace `"cloudinary_ng": "~1.0.0"` with `"cloudinary_ng": "#c7301f0"` in your `bower.json` and run `bower install` to get the latest code.

Let me know if it works for you.

[2017-01-17 17:01] schugh commented on #65
Ah, I didn't see that it wasn't merged.  I'll give it a go. Thank you!

On Tue, Jan 17, 2017 at 2:48 AM, Eitan Peer <notifications@github.com>
wrote:

[2017-01-17 17:05] schugh commented on #65
Just confirmed using the commit tag. thanks again for following up and
making the fix!

On Tue, Jan 17, 2017 at 9:01 AM, Samir Chugh <samir.chugh@gmail.com> wrote:

[2017-01-18 14:12] eitanp461 commented on #69
We've published a new version to NPM with AOT support (2.1.1), and a reference [sample project that uses it](https://github.com/cloudinary/cloudinary_angular/tree/angular_next/samples/photo_album_aot).

Note the new syntax for providing Cloudinary in [app.module.ts](https://github.com/cloudinary/cloudinary_angular/blob/angular_next/samples/photo_album_aot/app/js/app.module.ts) that uses forRoot

[2017-01-19 05:08] bjornharvold commented on #69
Hi,

I've followed the instructions in your sample project and am now getting a different error.

[code]

In imports I write:

`CloudinaryModule.forRoot(cloudinaryLib, config),`

Error I get now:

ERROR in Error encountered resolving symbol values statically. Could not resolve cloudinary-core/cloudinary-core-shrinkwrap relative to /Users/crash/git/traveliko/traveliko-spa-frontend/src/app/app.modul

[2017-01-19 05:27] bjornharvold commented on #69
Just to recap:

- The app uses Angular CLI latest
- The app uses many other 3rd party libraries without any issues
- The only time I had a slightly similar issue was when a vendor did not make some classes available

[2017-01-19 06:51] eitanp461 commented on #69
I've added the [rollup-config.js](https://github.com/cloudinary/cloudinary_angular/blob/angular_next/samples/photo_album_aot/rollup-config.js) file to our AOT sample, which was excluded by mistake from the previous commit.

Please see if it helps with your latest issue.

[2017-01-19 07:20] bjornharvold commented on #69
I'm looking at how you import cloudinary-core using commonjs. Angular CLI uses web pack under-the-hood. If you could show me how you would do it using web pack it would be greatly appreciated.

IntelliJ doesn't really complain in red when I do the import but Angular CLI definitely complains when trying to compile.

If I cmd-click on the cloudinary-core import it can find the node_module library. I

[2017-01-19 10:06] eitanp461 commented on #69
You can use [webpack resolve alias](https://webpack.github.io/docs/configuration.html#resolve-alias) to load the shirnkwrap version of cloudinary-core.

I updated our sample application that uses Webpack with an [example](https://github.com/cloudinary/cloudinary_angular/commit/ea03117395379761124f865cffac8748a23a41c1)

[2017-01-19 15:13] ronbelson commented on #69
Hi,

The same problem with Angular cli:
can't find the file
import { Cloudinary } from 'cloudinary-core/cloudinary-core-shrinkwrap';

"@angular/compiler-cli": "^2.3.1",
        "@types/hammerjs": "^2.0.34",
        "@types/jasmine": "2.5.38",
        "@types/node": "^6.0.42",
        "angular-cli": "1.0.0-beta.25.5",

didn't have tha  webpack resolve alias  on angular cli project
![screen shot 201

[2017-01-21 00:49] taragano commented on #61
For more information about the new library's version:
http://cloudinary.com/blog/new_angular_sdk_for_image_management_more_than_meets_the_eye

[2017-01-21 00:53] taragano commented on #56
Hi All,

We're happy to update that we published our Angular 2.0 library. You can find the sources in the branch [angular_next](https://github.com/cloudinary/cloudinary_angular/tree/angular_next). You can install it using `npm` or `yarn` with the name `@cloudinary/angular`.

    npm install @cloudinary/angular
For more information:
http://cloudinary.com/blog/new_angular_sdk_for_image_management_mo

[2017-01-21 06:32] bjornharvold commented on #69
Angular CLI currently does not expose webpack.config.js as you can see here: https://github.com/angular/angular-cli/issues/1656 so resolve / alias will not work. Only thing you have available to you is angular-cli.json where you can import scripts like so:

[code]

Would be appreciated if you can create a small sample Angular CLI project and show how this could be done. So far I cannot move forwar

[2017-01-21 17:10] ronbelson commented on #69
Tried the import didn't work...
Also tried to add typings.d.js with:
declare module 'cloudinary-core';
declare module 'lodash';

On the root of the project

Nothing yet to fix this..

[2017-01-21 23:17] eitanp461 commented on #69
I've added a new sample created with Angular CLI.

Notice that due to the limitations in Angular CLI project ([not exposing resolve aliases, not having an addon system ready yet](https://github.com/angular/angular-cli/issues/1656#issuecomment-240171375)) you need to `npm install lodash` since `cloudinary-core` depends on it.

Once an addon system for Angular CLI will be published, you should be ab

[2017-01-22 03:54] bjornharvold commented on #69
Trying this out now. Eitan's sample can be found here: https://github.com/cloudinary/cloudinary_angular/tree/angular_next/samples/angular-cli-sample

[2017-01-22 04:29] bjornharvold commented on #69
@eitanp461 !

Good solve. Works like a charm. Great work. Your understanding of the internals here is +++.

[2017-01-22 04:29] #69 closed

[2017-01-22 06:23] eitanp461 commented on #69
@bjornharvold Thanks for the kind feedback. Appreciated.

[2017-01-27 10:20] bogacg commented on #69
@eitanp461 thanks for this solution. I've tried it and wanted to go further:
Two questions:
**1. How can I use Cloudinary SDK functions after adding it this way.**
Example (what used to be):
[code]
**2.Why am I getting this error: `Can't bind to 'clHref' since it isn't a known property of 'a'`?**

[2017-01-28 20:00] eitanp461 commented on #69
@bogacg would you care to share your findings via a branch in this repository?

Do you currently need any assistance from our team?

[2017-01-29 12:26] bogacg commented on #69
@eitanp461 thank you, right now I'm good. Sure I'd be happy to help. I can share example project and what changes I did so that you can see those steps better.

[2017-01-29 12:47] eitanp461 commented on #69
@bogacg that would be great. I'd be happy to see your changes for a better understanding of this use case. Thanks!

[2017-02-07 23:02] rodriguezmanu commented on #64
`            var cloud_name = cloudinary.config().cloud_name,
                dataType = $.support.xhrFileUpload ? 'json' : 'iframe json',
                url = 'https://api.cloudinary.com/v1_1/' + cloud_name + '/delete_by_token';

            $http.post(url,
                {
                    token: file.result.delete_token
                },
                {
                    responseType:

[2017-02-08 06:33] eitanp461 commented on #64
@beeeku You can also find a complete example in [this branch](https://github.com/cloudinary/cloudinary_angular/tree/delete-by-token).

It is based on the existing sample, and adds a "Delete me" button to uploaded images if a `delete_token` is returned by the upload request.

Note that you need to enable this functionality in your account in the settings page
![image](https://cloud.githubuserconten

[2017-02-16 14:55] #28 closed

[2017-02-16 15:05] idobarnoam commented on #33
@ianforsyth I see that the reply id from a while back.
Is the issue still relevant?

[2017-02-16 15:21] ianforsyth commented on #33
I'm not sure, but we're not longer supporting ie9 so it's not an issue for us.

[2017-02-16 15:37] idobarnoam commented on #33
@ianforsyth
Thanks for the update.
we are closing the issue.

[2017-02-16 15:37] #33 closed

[2017-02-21 06:41] nhim175 opened #71 "bower main file not found"
I've just installed v2.1.1 and I don't see the main file anywhere

[2017-02-21 08:32] eitanp461 commented on #71
@nhim175 Version 2.1.1 is our Angular2 SDK.
It is not using Bower - we're using `npm` or `yarn` for installing its dependencies, which are listed in `package.json`.

Our Angular1 SDK is using Bower.
If you need that then you can install it with `npm install --save cloudinary-angular`

[2017-02-26 11:14] tocker opened #72 "Ignore me: github integration test"
Testing integration.

[2017-03-05 03:19] adriendomoison commented on #69
@eitanp461 it looks like the angular-cli sample is not working anymore with the latest version of angular-cli, and I completly failed to find out what's going on x(

[2017-03-06 22:46] eitanp461 commented on #69
@adriendomoison I got `ng serve --aot` to work when adding a type definition to cloudinary-core as suggested in [this pull request](https://github.com/cloudinary/cloudinary_js/pull/120).
I applied the changes locally within my `node_modules/cloudinary-core`.

I will work towards merging the PR in `cloudinary_js` repository and will update here once fully resolved.

[2017-03-10 20:50] fibinger opened #73 "Angular 2 deployment issue (new Angular CLI - RC version)"
Hi,

My Angular 2 application works fine in dev mode. However when I built it and deployed the following error related to Cloudinary Angular was displayed:
`TypeError: Cannot read property 'CloudinaryJQuery' of null`
Looks like variable **cloudinaryJsLib** in _cloudinary.service.js_ is not defined.
I am wondering what might be the problem?

Important node:
angular-cli-sample attached to this proje

[2017-03-11 05:48] bjornharvold opened #74 "Will not work on Angular 4.0.0.rc3"
ERROR in Error encountered resolving symbol values statically. Calling function 'OpaqueToken', function calls are not supported. Consider replacing the function or lambda with a reference to an exported function, resolving symbol CLOUDINARY_LIB in /Users/crash/git/traveliko/traveliko-spa-frontend/node_modules/@cloudinary/angular/src/cloudinary.module.d.ts, resolving symbol CloudinaryModule.forRoot

[2017-03-14 02:38] DennisSmolek commented on #74
It's a super simple fix. I've submitted a PR #75 which fixes this issue

[2017-03-14 02:41] DennisSmolek commented on #73
Not sure exactly your issue but I'm guessing it's related to the package branch being out of date. I've submitted a PR #75 which updates the package and clears the `opaqueToken` issue.

Until it gets checked out just copy my /src folder and put it wherever. Change your `import` to point to `cloudnary.module` in that folder and it should all work as expected.

[2017-03-14 16:46] DennisSmolek opened #76 "@injectible causing errors, not needed for Cloudinary in cloudinary.service."
In the `cloudinary.service` the `@injectable` works when you do plain dev/test builds but when you use the Angular-Cli it's throwing:

[code]
`@injectable` is for injecting services into each other. This service though gets created from a factory with direct object references. In dev mode it simply ignores the issue but when you do `-prod` in the CLI it minifies and then eats this.

Simply removin

[2017-03-14 16:59] DennisSmolek opened #77 "AOT & Angular-CLI throw errors using the base example, new one here"
We had a ton of issues related to missing parameters, bad constructors, etc.

First was the `@injectable` which I detailed on #76.

The AOT example shows how to use rollUp but Angular pushes people to use the CLI.

To use the CLI, you must include the scripts for cloudinary as a global. Inside `.angular-cli.json`

[code]

This will insure that cloudinary is loaded into the global namespace. We use

[2017-03-14 17:27] adriendomoison commented on #69
@eitanp461 thanks ! This definitely need to be merged since there are no way to make that work in production right now :(

[2017-03-15 09:42] fibinger commented on #73
We're using different versions of Angular, I am using Angular 2 which supports opaque tokens, and you're using Angular 4. Therefore we're talking about distinct issues.

[2017-03-16 22:01] eitanp461 commented on #69
@adriendomoison I opened a new pull request that adds a type definition file to `cloudinary-core`.
You can follow its status here https://github.com/cloudinary/cloudinary_js/pull/122

[2017-03-17 08:08] RomainMarecat commented on #77
Hello ! I had the same issue with

@angular/cli: 1.0.0-rc.2
node: 7.7.2
os: linux x64
@angular/common: 2.4.9
@angular/compiler: 2.4.9
@angular/core: 2.4.9
@angular/forms: 2.4.9
@angular/http: 2.4.9
@angular/platform-browser: 2.4.9
@angular/platform-browser-dynamic: 2.4.9
@angular/router: 3.4.9
@angular/cli: 1.0.0-rc.2
@angular/compiler-cli: 2.4.9
@cloudinary/angular: ^2.1.1
cloudinary-core: ^2.2.0

[2017-03-17 19:08] adriendomoison commented on #69
Yuhuuu !! Any idea when this will be integrated? I have to make the decision if I switch to https://github.com/ekito/ng2-cloudinary temporary ... and I feel super lazy to have to do it if is for a few days only x)
Thank you :D

[2017-03-19 10:17] bjornharvold commented on #74
Bump. Can I please have a timeline on this issue? There are also some other outstanding issues here on this board that prevents me to take this library to production.

Cheers
Bjorn

[2017-03-19 18:12] roeeba commented on #69
Hi @adriendomoison, we're aiming at integrating this by the end of this week. Stay tuned :)

[2017-03-21 18:00] #73 closed

[2017-03-21 18:05] fibinger commented on #73
You're right. The issue is related to AOT. Unfortunately nothing nothing solved the problem.
Please carry on talking in #77

[2017-03-21 20:50] DennisSmolek commented on #77
My first suggestion is move to the 4.0 branch as it's the clearest difference between our deployments so I'm hesitant to drill down much farther..

[2017-03-26 04:47] bjornharvold commented on #74
Angular 4.0.0 and Angular CLI 1.0.0 have been released. Can we get a fix on this please.

[2017-03-26 05:51] eitanp461 commented on #74
@bjornharvold We are working out the details on the best solution for supporting both Angular 2.x and 4.x libraries.
I will update as soon as we finalize the solution and publish a 4.x compatible SDK.

[2017-03-26 05:53] bjornharvold commented on #74
Thank you for getting back to me on a Sunday @eitanp461 and for keeping me updated :-)

[2017-03-27 14:55] eitanp461 commented on #76
@DennisSmolek We have released cloudinary-core with a type definition file, see https://github.com/cloudinary/cloudinary_js/releases/tag/2.3.0.

I updated the Angular CLI sample with the --aot flag and it works now.
Please close this issue if it is fixed in your use case, or add more details to it for further analysis.

[2017-03-27 14:56] eitanp461 commented on #77
@DennisSmolek, @RomainMarecat
We have released `cloudinary-core` with a type definition file, see https://github.com/cloudinary/cloudinary_js/releases/tag/2.3.0.

I updated the Angular CLI sample with the --aot flag and it works now.
Please close this issue if it is fixed in your use case, or add more details to it for further analysis.

[2017-03-27 16:03] DennisSmolek commented on #76
I don't have time to test but I'll close as you say it's working. When I get back next week I'll double check, Great work!

[2017-03-27 16:03] #76 closed

[2017-03-27 16:06] DennisSmolek commented on #74
As the version `2.x` to `4.x` has breaking changes I don't think you'll be able to support both without having two totally different packages.. I would just use the current branch as the last one to support `< 4.0` and move forward.. `4.x` I think will be a much better base moving forward...

[2017-03-31 08:07] zpydee commented on #74
pls can we have a ETA for this fix?

[2017-04-02 13:04] roeeba commented on #74
Hi, We're aiming to add support for Angular 4.x by the end of this month (April). We will update here as soon as it is available.

[2017-04-03 08:18] bjornharvold commented on #74
Thanks for the update @roeeba! As Angular 2 was really just a preparation for a more solid version of Angular in v4, I don't think any developer will be sticking around on Angular 2 if they don't absolutely have to.

[2017-04-03 18:49] ukmadlz opened #79 "ng serve ERROR OpaqueToken resolving CLOUDINARY_LIB"
I'm getting the following error:

[code]
The code in question is
[code]
I can't see anything wrong, and even more confusingly it'll build if I just save at random

[2017-04-04 02:10] bjornharvold commented on #79
+1 My developers are randomly seeing this as well. This issue came with the latest cloudinary-core update.

[2017-04-07 10:31] dottodot opened #81 "onload event"
On the Angular (2/4) version is there any way to get an onload event from the img that's created. I've had a look through the src but can see anything that would suggest you can.

[2017-04-07 21:15] eitanp461 commented on #81
@dottodot

We are [passing the attributes](https://github.com/cloudinary/cloudinary_angular/blob/angular_next/src/cloudinary-image.component.ts#L56) of `<cl-image>` to the underlying `<img>`, and expected `(load)="onLoad()"` or `on-load="onLoad()` to be passed to the `img` as well.

However Angular is not passing bindings as attributes to the underlying component, see [here](https://github.com/ang

[2017-04-08 17:15] dottodot opened #82 "alt and title tags"
How do you add these?

Tried adding it to the `cl-image` tag but gives an error of

[2017-04-09 06:58] adriendomoison commented on #79
Hello,

The error prevent to compile with AOT.
Here is the full error I get:

[code]

I never have been able to use Cloudinary and AOT from now ^^

[2017-04-13 10:58] roeeba commented on #79
Hey guys, sorry for the delayed reply. We're aware of this issue and are working on fixing this. Update to follow.

[2017-04-23 08:52] roeeba commented on #82
Hi @dottodot, our dev team is reviewing your inquiry. We will update soon with our insights.

[2017-04-24 13:02] eitanp461 commented on #82
@dottodot You can add alt and title attributes with the following syntax:
[code]

See an example here - https://codepen.io/eitanp461/project/editor/DYBzvZ/

[2017-04-25 08:07] #82 closed

[2017-04-25 08:28] bjornharvold commented on #74
Hi guys!

It's the end of the month. Any updates @roeeba? @eitanp461

I'm really waiting on this so I can take my apps to production. Ideally in less than 7 days :-)

Cheers

[2017-04-25 18:06] mflorence99 commented on #79
I started to see this issue repeatedly so based on the notes above I backed off to `"cloudinary-core": "2.2.1"` -- but sadly the error is still there.

[2017-04-25 19:11] smsami opened #83 "Changing public_id with observables"
Here is an issue I found with the cl-image tag. Given the following:

_user is a BehaviorSubject, which is undefined initially and is defined in the constructor of a component.

<cl-image [public-id]="(_user | async)?.logo" width="100%" height="auto"></cl-image>

if the _user is updated, the cl-image does get updated and the image changes ONLY AND ONLY if "enableProdMode" is disabled.

This has be

[2017-04-26 06:02] roeeba commented on #74
Hi @bjornharvold, we're on it :) and we're doing our best to meet the deadline. Stay tuned for updates.

[2017-04-26 06:36] bjornharvold commented on #74
Cheers guys :-) @roeeba @eitanp461 I see you guys are very busy in the repo. Appreciate the quick response. FYI I am an evangelist for Cloudinary. For any startup I say to go with you guys. It's a no-brainer!!

Keep up the good work

[2017-04-26 13:24] eitanp461 commented on #83
@smsami Thanks for reporting this.

Can you reproduce the issue in Plunker? You can fork https://plnkr.co/edit/e4GuRg?p=info  to get you started.

[2017-04-29 06:58] tontonwappy commented on #79
have the same issue ...

[2017-05-06 05:30] bjornharvold opened #85 "<cl-image responsive> within <ngb-carousel>"
I think this is related to this ticket: https://github.com/cloudinary/cloudinary_angular/issues/55

I am using Angular 2 ng-bootstrap (https://ng-bootstrap.github.io/#/components/carousel)

If I have a carousel and I put cl-image with the attribute 'responsive' it will fail with a NoProviderError No provider for TemplateRef.

<ngb-carousel [interval]="myInterval" [wrap]="wrapSlides" *ngIf="images"

[2017-05-07 06:12] eitanp461 commented on #85
@bjornharvold I got it to work with this Codepen project - https://codepen.io/eitanp461/project/editor/AObmaX/#0

Can you please add more details about your use case?

[2017-05-07 06:16] bjornharvold commented on #85
@eitanp461 but you are cheating my friend. I am still on Angular 2.4.10 while I wait for you to support Angular 4 that uses ng-template...which you are using here. The above code I mentioned is enough to break it.

[2017-05-07 08:27] eitanp461 commented on #85
@bjornharvold https://codepen.io/eitanp461/project/editor/AObmaX/#0 is now working with Angular 2.4.10

Please let me know if it fits your needs

[2017-05-07 08:30] bjornharvold commented on #85
Cheers @eitanp461. Apart from me using Angular CLI and using *ngFor to loop through my images, it's exactly the same. It wasn't until I removed the "responsive" attribute that it started working again. Any ideas?

[2017-05-07 09:07] eitanp461 commented on #85
@bjornharvold I'm not sure I follow.
Is it working for you now with the responsive attribute?
The difference might be npm dependencies. Can you list them?

[2017-05-07 09:21] bjornharvold commented on #85
Here you go:

"@angular/common": "2.4.10",
    "@angular/compiler": "2.4.10",
    "@angular/core": "2.4.10",
    "@angular/forms": "2.4.10",
    "@angular/http": "2.4.10",
    "@angular/platform-browser": "2.4.10",
    "@angular/platform-browser-dynamic": "2.4.10",
    "@angular/platform-server": "2.4.10",
    "@angular/router": "3.4.10",
    "@cloudinary/angular": "^2.1.1",
    "@ng-bootstrap/ng-

[2017-05-07 09:22] eitanp461 commented on #85
Is it working with the `responsive` attribute now?

[2017-05-07 09:29] eitanp461 commented on #85
BTW setting an image as `responsive` also requires setting its width to `auto`, otherwise the image size is constant

[2017-05-07 09:44] eitanp461 commented on #85
I updated the codepen to exactly match your HTML. It's still working.

[2017-05-07 19:38] #61 closed

[2017-05-08 05:24] bjornharvold commented on #85
Thanks @eitanp461 It's not working for me somehow. I will look at this again when I can upgrade ng-bootstrap to latest, Angular 4 and the new Cloudinary Angular 4 supported plugin. For now I just removed 'responsive'.

[2017-05-08 12:35] dottodot commented on #79
Any news on when this will be fixed?

[2017-05-08 12:37] dottodot commented on #74
Any new on the fix for this as it's preventing me from creating a production build.

[2017-05-09 05:30] roeeba commented on #74
Hi @bjornharvold, @dottodot, If everything will be going according to our plan, we'll be publishing support for Angular 4 later this week. We will update as soon as that happens.

@bjornharvold, thank you very much for your support and great feedback! :) we extremely appreciate it!

[2017-05-12 12:17] ManjuSagar opened #86 "Can't resolve all parameters for Cloudinary: (?)."
I am getting this error after doing all the steps!

[2017-05-18 05:36] bjornharvold commented on #74
Hi guys! How is progress going?

[2017-05-18 05:45] fibinger commented on #74
Seems like you have forgotten about us. To be honest it's really blocking us, cloudinary_angular upgrade is crucial for our project.

[2017-05-18 08:44] tocker commented on #74
Hi All.
We are resolving a few issues related to the re-packaging. Will publish very soon.

[2017-05-18 12:24] tocker commented on #74
The new code has been published. Please try `npm install @cloudinary/angular-4.x`.

npm link: https://www.npmjs.com/package/@cloudinary/angular-4.x

[2017-05-18 19:32] eitanp461 commented on #86
@ManjuSagar Can you please provide additional details?
1. Which Angular version are you using?
2. Which Cloudinary SDK version?
3. What is the error you see?

[2017-05-19 06:42] roeeba commented on #79
Hi, guys. A fix was published yesterday.
Please let us know if you still see an issue.

[2017-05-19 10:30] bjornharvold commented on #74
Working! Solid work :-) 👍

[2017-05-19 10:30] #74 closed

[2017-05-19 22:12] trencoret commented on #79
Problem is still there with versions `@cloudinary/angular@2.1.1` and `cloudinary-core@2.3.0`

Trying to run your sample angular-cli-sample and this is the error:
`ERROR in Error encountered resolving symbol values statically. Calling function 'OpaqueToken', function calls are not supported. Consider replacing the function or lambda with a reference to an exported function, resolving symbol CLOUDIN

[2017-05-22 07:57] tocker commented on #79
@trencoret and all, please update the dependency to "@cloudinary/angular-4.x" version "1.0.0".
Let us know if it solves your issue!

[2017-05-22 08:00] ukmadlz commented on #79
@tocker is the 4.0 backwardly compatible with 2.0?

[2017-05-23 07:22] #72 closed

[2017-05-23 15:29] #56 closed

[2017-05-28 08:38] eitanp461 commented on #85
@bjornharvold Is this working since the upgrade to our latest release which supports Angular4?

[2017-05-28 08:55] eitanp461 commented on #79
@trencoret I just tested the `angular-cli-sample` for our Angular2 SDK from https://github.com/cloudinary/cloudinary_angular/tree/angular-2.x branch, and did not witness any errors.
Can you try deleting your local `node_modules` and reinstalling with `yarn install` just to make sure there are no leftovers there?

@ukmadlz The SDK for Angular4 is not backwards compatible with Angular2. It is using

[2017-05-28 08:55] #71 closed

[2017-05-28 10:01] bjornharvold commented on #85
Still the same problem w TemplateRef not being found the moment I put
"responsive" in there. Have had no time to look at it in more detail. Using
the latest version of Ng-Bootstrap as well.

On May 28, 2017 at 15:38:11, Eitan Peer (notifications@github.com) wrote:

[2017-05-28 14:44] eitanp461 commented on #85
@bjornharvold I created a glitch with the working example (so we can use `package.json`) - https://glitch.com/edit/#!/cloudinary-angular-carousel

Can you please remix it and create a case that reproduces the problem you see?

[2017-05-30 06:15] bjornharvold commented on #85
Yes, will take a look

[2017-05-30 11:47] bjornharvold commented on #85
Hi @eitanp461

I was playing around with package.json without any luck. What about if the images are remotely fetched... just to add to the complexity slightly. Meaning, you need to to get the IDs from someplace else before you are able to put them in the array you have there.

[2017-05-31 09:48] darkovac opened #87 "Angular 4.x - cl-video: not working"
# Generated html seem to be wrong:
[code]

## Debugged cloudinary-video.component.ts:
in line 62 videoTag.content() returns:
[code]

in line 64 videoTag.attributes() returns:
[code]

[2017-05-31 19:31] eitanp461 commented on #85
@bjornharvold The example still works when loading the ids lazily, see updated glitch -
 https://glitch.com/edit/#!/cloudinary-angular-carousel

Can you create a reproduction of your case we can examine?

[2017-05-31 19:35] eitanp461 commented on #87
@darkovac Video seems to be working in this example - https://glitch.com/edit/#!/cloudinar-angular-sdk-video

Can you please reproduce in an online tool such as Glitch or share the source code for creating the video?

[2017-06-01 03:57] bjornharvold opened #88 "No provider for TemplateRef! Error: No provider for TemplateRef!"
When you follow Angular's convention of using a SharedModule and add CloudinaryModule there:

[code]

You add Cloudinary in app.module.ts:

[code]

If you then add the 'responsive' attribute to the cl-image tag, it will fail with:

[2017-06-01 03:57] bjornharvold commented on #85
This is a non-issue. Opening up a new ticket. I found the problem.

New issue here: https://github.com/cloudinary/cloudinary_angular/issues/88

[2017-06-01 03:57] #85 closed

[2017-06-01 17:07] kristynrb opened #89 "Broken link to Angular1 documentation"
When you click on the link to the Angular1 documentation, it takes you to a page with a 404.

The line in the README: "Cloudinary's AngularJS (AKA Angular1) SDK can be found here"
The link with the 404: https://github.com/cloudinary/cloudinary_angular/tree/angular-1

[2017-06-03 21:10] darkovac commented on #87
Aha, probably these attributes are a key:
[code]

We were doing it by example in readme:
[code]

I'll try to with your example when I get time for that, we created quick fix by implementing our component.

[2017-06-03 21:10] #87 closed

[2017-06-03 21:31] eitanp461 commented on #87
@darkovac I updated the [glitch sample](https://glitch.com/edit/#!/cloudinar-angular-sdk-video) to use the same component you posted in the last comment, and added `controls="true"` to use the native browser video controls, and it works as expected:

[code]

If your problem persists please open a ticket with Cloudinary support at https://support.cloudinary.com/hc/en-us

[2017-06-03 21:34] eitanp461 commented on #88
@bjornharvold I can't reproduce the issue.
Can you add details about your setup? E.g. are you using Angular CLI? Using Webpack / other bundler directly? Building Angular AOT? Any other relevant information for us to consider?

[2017-06-03 21:36] #89 closed

[2017-06-03 21:37] eitanp461 commented on #89
@kristynrb Thanks for reporting this. Fixed.

[2017-06-04 11:36] bjornharvold commented on #88
Angular CLI v1.0.6
Angular 4.1.x
Lazy loading of modules

I tried around for an hour to replicate the carousel problem at first. Then I thought "I have issues with other modules being included in the SharedModule. I wonder what would happen if I didn't include it in SharedModule but instead only in the modules where I need it." I think the issue is lazy loading.

[2017-06-04 19:52] eitanp461 commented on #88
@bjornharvold I tried to reproduce according to your instructions here - https://github.com/cloudinary/cloudinary_angular/tree/issue_88

I'm using lazy loading and a shared module.
Everything is still working as expected, both for `ng serve` and `ng serve --aot`.
Can you reproduce based on that branch?

[2017-06-05 03:53] bjornharvold commented on #88
[traveliko-spa-frontend.zip](https://github.com/cloudinary/cloudinary_angular/files/1051051/traveliko-spa-frontend.zip)

Hi @eitanp461 Attaching a skeleton project of our actual app that has this behavior.

[2017-06-13 05:24] MaorGariv commented on #62
Hi,

Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support http://support.cloudinary.com or [create a new ticket](https://support.cloudinary.com/hc/en-us/requests/new) if you have any additional issues.

[2017-06-13 05:24] #62 closed

[2017-06-15 09:40] yaroslavert opened #90 "angular 1 1.64 not work"
Uncaught Error: [$injector:modulerr] Failed to instantiate module myApp due to:
Error: [$injector:unpr] Unknown provider: cloudinaryProvide

[2017-06-15 21:03] eitanp461 commented on #90
@yaroslavert Which Cloudinary SDK version are you using?
We're publishing an SDK for different Angular versions.

Make sure you're on our AngularJS one.
You can find setup details [here](https://github.com/cloudinary/cloudinary_angular/tree/angular-1.x)

[2017-06-16 07:03] #90 closed

[2017-06-27 11:15] bjornharvold commented on #88
@eitanp461 Did you get a chance to look at the app I sent here?

Cheers

[2017-06-27 14:57] eitanp461 commented on #88
@bjornharvold Sorry for the late reply.
The problem is that the `responsive` attribute is used as [an HTML element attribute](https://github.com/cloudinary/cloudinary_angular/blob/master/src/cloudinary-image.component.ts#L60) by our SDK, but **also** used as a [directive selector](https://github.com/ManuCutillas/ng2-responsive/blob/master/src/responsive/responsive.ts#L7) by `ng2-responsive`.

A qu

[2017-07-16 22:40] murunwas opened #92 "Cannot read property 'CloudinaryJQuery' of null"
when I build with the production flag it works fine but when you deploy to the server  I get "Cannot read property 'CloudinaryJQuery' of null" error

[2017-07-17 19:59] eitanp461 commented on #92
@murunwas Can you link to the deployment?
Can you share your module.ts that initializes the Cloudinary module?
What tools are you using for build/deploy? Vanilla Webpack / Angular CLI / Other?

[2017-07-19 07:42] roeeba commented on #69
This issue was resolved in March. Please refer to - https://github.com/cloudinary/cloudinary_angular/issues/77

[2017-07-20 06:28] murunwas commented on #92
@eitanp461 I'm using angular CLI, "ng build" works fine but "ng build --prod" I get "Cannot read property 'CloudinaryJQuery' of null" error
![screenshot_20170720082156](https://user-images.githubusercontent.com/8838943/28403341-97d277b2-6d24-11e7-8bb9-fa9fa7ed1f20.png)
![image](https://user-images.githubusercontent.com/8838943/28403533-64ecfc9a-6d25-11e7-81a1-260af6ded6a6.png)

[2017-07-20 09:20] eitanp461 commented on #92
@murunwas Angular CLI is strict with what it expects to receive, and how it is defined.

Angular CLI prod mode works by setting the `cloudinaryLib` as a const and providing the config parameters inline as follows:

[code]

I will update our sample once you confirm this resolves the issue.

[2017-07-20 11:34] murunwas commented on #92
Thanks alot @eitanp461 it is working fine now with the "ng build --prod"

[2017-07-20 11:41] eitanp461 commented on #92
Happy it worked. I will update the sample code and docs.

[2017-07-20 11:41] #92 closed

[2017-08-04 13:41] fibinger commented on #83
@eitanp461 Here you go the Plunker:

https://plnkr.co/edit/LQMrPSQJJYMbRdmpBvDK?p=preview

Click on "Change public ID" button to reproduce the problem.

If you comment out the line
`enableProdMode();`
it will start working.

[2017-08-07 14:56] dottodot opened #93 "Add support for universal server side rendering"
When rendering pages server side is doesn't work. At least one issue is because of the use of `MutationObserver` which is browser only.

Here's the errors is causes.

[code]

[code]

[2017-08-08 08:31] eitanp461 commented on #83
@fibinger thank you for the sample, it was a great help!
I opened a PR with a fix, and will take it further with @tocker

[2017-08-20 13:40] dottodot commented on #93
OK looks like `MutationObserver` is the least of the issues when it comes to getting it working with Universal.

Can anyone confirm if this is ever likely to be supported and if so how soon as I'm getting close to the end of a project that needs it, and need to know if I need to look at an alternative solution.

[2017-08-21 10:46] #83 closed

[2017-08-24 09:05] roeeba commented on #93
Hi, @dottodot. Thank you for reporting this. Our dev team will review this, we will update as soon as we have any insights.

[2017-08-24 09:13] dottodot commented on #93
Ok no worries I've gone with using my own custom module for now, tried to modify this but there's too much reliance on client only code.

[2017-08-26 20:17] bonatoc opened #96 "README mentions "AngularJS" when it is in fact an Angular (2.x, 4.x?) project"
self-describing title

[2017-08-26 20:18] #96 closed

[2017-09-09 04:16] bjornharvold opened #104 "Error encountered resolving symbol values statically. Calling function 'InjectionToken'"
Hi @eitanp461 :-)

Angular removed their deprecated code related to OpaqueToken. Assuming this is why using Angular 4.4.0.RC0 is breaking my codebase.

[code]

[2017-09-10 14:54] eitanp461 commented on #104
@bjornharvold Googling this error message indicates that it might be a dependency problem.
See https://github.com/angular/angular-cli/issues/5939, https://github.com/angular/angular/issues/16762 and their linked issues.

Have you tried the suggested solutions there?
e.g. add to your tsconfig
[code]

If it still fails, can you provide a sample project that reproduces the problem?
(+ Include the nod

[2017-09-13 10:19] Nazar-bnm commented on #86
I have the same problem - Uncaught Error: Can't resolve all parameters for Cloudinary: (?)
I use Angular 4.1.3, Cloudinary 1.0.0

[2017-09-13 10:38] eitanp461 commented on #86
@Nazar-bnm Can you please provide additional details?
Can you share the module configuration?
Do our samples work for you?

[2017-09-13 10:47] Nazar-bnm commented on #86
`import { NgModule, ErrorHandler } from '@angular/core';
import { FormsModule, ReactiveFormsModule } from '@angular/forms';

import { BrowserModule } from '@angular/platform-browser';

import {IonicApp, IonicModule, IonicErrorHandler, Config, PageTransition, Animation} from 'ionic-angular';

import { Facebook } from '@ionic-native/facebook';
import { EmailComposer } from '@ionic-native/email-compo

[2017-09-13 11:09] eitanp461 commented on #86
@Nazar-bnm remove `Cloudinary` from the providers array

[2017-09-13 11:17] Nazar-bnm commented on #86
Thanks for your fast answer. But I tried it and in this case I have another error - ERROR Error: Uncaught (in promise): Error: No provider for Cloudinary!

[2017-09-13 11:31] eitanp461 commented on #86
@Nazar-bnm can you share the code where you get this error?
See also this minimalistic example of the SDK usage - https://codepen.io/eitanp461/project/editor/DYBzvZ

[2017-09-15 10:19] dorongutman opened #105 "cl-image ignores a cl-transformation if it has an ng-if"
I have the following code:
https://plnkr.co/edit/tZdVOELNOVRw9zhCa4M1?p=preview

1. You can see that the first line of photos that `ng-if` on the `<cl-image>` tag works fine - when `true` the image is shown, when `false` the image isn't showing.
1. In the second line of photos, the `ng-if` condition is completely ignored - both in the case of `true` and in `false` the transformation isn't applied.

[2017-09-15 13:48] msio opened #106 "Make Contribution"
Hi,
 How can I build the project locally to try it in my own project ?
Thanks
Michal

[2017-09-15 20:55] marissa-masangcay commented on #106
Hi Michal,

You can start by looking at our sample angular project located at this link below:

https://github.com/cloudinary/cloudinary_angular/tree/master/samples/photo_album

 It will give you a step-by-step guideline on how to get your Cloudinary project up and running. If you have any questions or issues with getting this project to work or anything else for that matter please feel free to op

[2017-09-16 04:42] bjornharvold commented on #104
Resolved with Angular 4.4.1

[2017-09-16 04:42] #104 closed

[2017-09-17 05:39] eitanp461 commented on #105
@dorongutman verifying by your example, you are referring to the AngularJS/Angular1 SDK, right?

[2017-09-17 13:07] dorongutman commented on #105
@eitanp461 that's correct.

[2017-09-19 07:44] nivashmani opened #107 "Angular1 supports Cl-background-image directive. why angular2 not supports cl-background-image directive?"
Hi,
currently working in angular2.
we used cl-background-image directive for rendering the images as background of the div.
It is working fine in angular 1.
However it is not working in the angular 2 applications.
Please explain if there is any way to achieve this.....

[2017-09-19 08:49] roeeba commented on #107
Hi, @nivashmani.
We currently don't support a "cl-background-image" directive. This directive was created by an unofficial Angular SDK - https://github.com/tinusn/cloudinary-angular - which I assume you're referring to. We currently don't support it for Angular2+ as well.
That being said, I've forwarded your inquiry to our product team to review, so we might end up supporting this in the future.

[2017-09-19 17:20] echorohit opened #108 "How to pass version in the cl-image"
Hi,
To overcome caching issue I am trying to pass version value in the cl-image tag
below is my code

[code]

This is working perfectly fine if the version is hardcoded.
But when I try to replace this with some dynamic value like

[code]
Then it throws errors

"Template parse errors:
[code]

[2017-09-21 14:46] ctaepper commented on #83
this was closed exactly one month ago and it is not published to npm yet... whats the holdup?

[2017-09-26 10:57] roeeba commented on #108
Hi @echorohit, please use Angular attribute binding, see https://angular.io/guide/template-syntax#attribute-binding.
This is how your code should change:

[code]
See working example https://codepen.io/eitanp461/project/editor/AObmaX.
Note the `attr` prefix to version.

[2017-09-26 11:32] strausr commented on #81
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2017-09-26 11:32] #81 closed

[2017-09-28 09:40] dorongutman commented on #105
hey @eitanp461 any updates on this ?

[2017-09-29 18:50] taragano commented on #66
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support http://support.cloudinary.com or [create a new ticket](https://support.cloudinary.com/hc/en-us/requests/new) if you have any additional issues.

[2017-09-29 18:50] #66 closed

[2017-10-08 13:11] roeeba commented on #105
Hi @dorongutman, sorry for the delayed reply. Our team is still working on this. We will update as soon as this is resolved. Thank you for your patience.

[2017-10-20 20:09] urstack opened #111 "Error: Error encountered resolving symbol values statically. Calling function 'OpaqueToken',"
Getting following error :
ERROR in Error: Error encountered resolving symbol values statically. Calling function 'OpaqueToken', function calls
 are not supported. Consider replacing the function or lambda with a reference to an exported function, resolving sy
mbol CLOUDINARY_LIB in C:/itj/itjfrontend/node_modules/@cloudinary/angular/src/cloudinary.module.d.ts, resolving sym
bol CloudinaryModule.fo

[2017-10-21 21:19] eitanp461 commented on #111
@urstack please provide more information.
- Which Angular version are you using?
- Which version of the SDK are you using?
- Can you share your module setup code? (*.module.ts)
- Have you reviewed the samples in this repository?

Thanks,
Eitan

[2017-11-01 13:41] jariwbh opened #112 "tag image while uploading with 3rd party upload tools"
We are using ng2FileSelect as a 3rd Party upload tool to upload file on cloudinary.

<input type="file" id="fileupload" #fileInput ng2FileSelect [style.display]="'none'" [uploader]="uploader"/>

We would like to attach fieldname to uploaded file a tag value. this is not working as no tag return in response.

[2017-11-02 06:15] demiro opened #113 "Programatic use examples?"
I want to use it programatically so I could set the generated URL as css background-image
I saw an example like:

`this.imageUrl = Cloudinary.url(this.image.id, { format: 'jpg', gravity: 'face' });`

the problem is, Cloudinary obj does not exist.... so I imported is as in ngModule
import { Cloudinary } from 'cloudinary-core/cloudinary-core-shrinkwrap';

obviously still doesn't work...

would like

[2017-11-02 07:04] eitanp461 commented on #113
@demiro here is an example of using Cloudinary's instance - https://github.com/cloudinary/cloudinary_angular/blob/master/samples/photo_album/app/js/model/photo-album.service.ts#L17

[code]

Outputs `http://res.cloudinary.com/eitanpeer/image/upload/g_face/sample.jpg` to the console

[2017-11-02 08:02] bjornharvold opened #114 "Making Cloudinary Angular compatible with Angular 5"
Was getting this error when trying to compile with Angular 5:

[2017-11-02 08:53] demiro commented on #114
yes, please... I'd like this as well, asap

[2017-11-02 08:55] demiro commented on #113
@eitanp461 : thank you! ... please put it in the documentation as well... there are examples for all the languages, missing react and angular form js side... cheers!

[2017-11-02 09:41] eitanp461 commented on #113
@demiro I'll pass it on to our docs team. Thanks for the feedback!

[2017-11-02 09:41] #113 closed

[2017-11-05 11:06] roeeba commented on #114
Hi @bjornharvold, @demiro. Our team is aware of this issue. We'll make sure to resolve this as soon as we can.

[2017-11-07 10:23] carloinqbyteio commented on #79
I have solved mine, I am using Yarn, I had to delete **node_modules** and **yarn.lock** (if you're using npm, delete **package.lock.json**).

Run yarn install or npm install again.

[2017-11-08 05:45] bjornharvold commented on #114
Thank you! Make @eitanp461 work his magic :-)

[2017-11-08 10:20] roeeba commented on #112
Hi, @jariwbh. Our sample uses ng2FileSelect and adds custom tags, please see https://github.com/cloudinary/cloudinary_angular/blob/master/samples/photo_album/app/js/photo-album/photo-upload.component.ts#L49

Let me know if it helps?

[2017-11-09 05:29] sangwin commented on #114
Is this issue fixed? I am getting same issue in Angular 5 project

[2017-11-09 09:29] demiro commented on #113
hm, sadly it doesn't work with the width and height params
this._cloudinary.url(this.image.id, { format: 'jpg', gravity: 'face', width: 250, height: 200 });

[2017-11-09 10:05] eitanp461 commented on #113
@demiro the way width and height parameters are interpreted depends on their usage.

- **Without a crop mode** they are set as attributes on the created `<img>` tag.
The following code:
```cl.image("foo", { responsive: true, alt: "bar", className: "myclass", width: 250, height: 200})```
produces:
```<img alt="bar" class="myclass cld-responsive" src="https://res.cloudinary.com/demo/image/upload/foo

[2017-11-09 10:18] demiro commented on #113
OK, makes sense... added the crop mode and it works

[2017-11-09 13:54] jackieros commented on #113
Hi, the exact behavior for when width/height are included in transformation URL and/or as HTML attributes actually depends on which crop mode you use. Details can be found in the Notes section of the [image tag](https://cloudinary.com/documentation/image_transformations#embedding_images_in_web_pages) documentation.

[2017-11-10 02:26] glauberramos commented on #114
I am getting the same error as well

[2017-11-12 10:46] roeeba commented on #114
Hey guys, the issue hasn't resolved yet. While this isn't a trivial issue, we're aiming to deploy a fix in the next few months, though there's isn't a final ETA yet. We'll update here once we do have one.

[2017-11-13 02:42] bjornharvold commented on #114
Hi @roeeba

Can you elaborate on the complexity of this issue? Upgrading from 4.4.6 to 5.0.1 was a painless affair for all our applications and 90% of our other 3rd party libraries were already compatible. The other 10% were updated within a couple of days. Looking at Angular 5's change log of breaking changes, there are really none that stand out.

Just waiting for Cloudinary now to be able to us

[2017-11-13 06:48] sangwin commented on #114
I am facing the same issue, However [This ng2-cloudinary](https://ekito.github.io/ng2-cloudinary/docs/) Plugin helped me out.

[2017-11-13 13:27] roeeba commented on #114
Hi, @bjornharvold. Our dev team are working on this issue. While it's not complex, we still can't commit on an ETA at the moment. We're doing our best to resolve this ASAP.

[2017-11-13 13:31] sangwin commented on #114
@roeeba  I still think a month is a lot more time to fix such an issue.

[2017-11-14 13:12] yuricamara commented on #114
I am wondering if I should use another image service since I can't wait for months to use it with Angular 5.

[2017-11-14 13:15] yuricamara commented on #104
Same problem with Angular 5.

[2017-11-15 08:07] roeeba commented on #104
Hi @yuricamara. Please follow the Angular 5 compatibility thread - https://github.com/cloudinary/cloudinary_angular/issues/114
We're doing our best to resolve this ASAP.

[2017-11-15 13:11] yuricamara commented on #104
Thanks @roeeba

[2017-11-17 18:04] janfeyen opened #116 "Upload to a folder"
How could I change this upload example to upload to a specific folder?

[2017-11-18 21:18] eitanp461 commented on #116
@janfeyen You can add a `folder` attribute.
This is an optional folder name where the uploaded resource will be stored. The Public ID contains the full path of the uploaded resource, including the folder name.

Add it to the `form` like so:
```form.append('folder', 'angular_sample');```

Note that by default, when uploading via the API, folders are not automatically created in your Media Library.

[2017-11-18 21:23] Jonathan002 opened #117 "I can't import CloudinaryModule to my Angular 5 app"
I'm trying to import cloudinary to my AppModule:

[code]

I get the following error in runtime when I start the app via `npm start`
[code]

It doesn't seem to recognize the configuration object or the module itself as I import it. I'm following the instructions from this [document](https://cloudinary.com/documentation/angular_integration). Am I using the right api or package for Angular 5?

[2017-11-18 21:31] eitanp461 commented on #117
@Jonathan002 Angular 5 is not supported yet, we'll be releasing the new SDK version later this week, see https://github.com/cloudinary/cloudinary_angular/issues/114

[2017-11-18 21:31] #117 closed

[2017-11-18 21:32] Jonathan002 commented on #117
Ok thanks for the quick response

[2017-11-19 05:24] jackieros commented on #117
Eitan,
Currently the docs just say Angular, and Angular 2+

If there will be anything specific we need to write in the docs about Angular 5 (other than that it is supported), please open a doc JIRA with the relevant info. Thx :-)

⁣Jackie Rosenzveig
Technical Content Team Leader
Cell: 052-335-2779
www.cloudinary.com​

On Nov 18, 2017, 11:31 PM, at 11:31 PM, Eitan Peer <notifications@github.com> wr

[2017-11-22 12:39] ctaepper opened #118 "request for new angular4 release"
there is a bug fixed in master #83 but not published to npm yet. we are currently workarounding this in a very ugly way. i am concerned, that with the upcoming release of the angular5 version #115 the bug won't be published to angular4 version anymore.

can you please give me some kind of info, if and when I can expect this bug to be published to angular-4.x version?

[2017-11-22 12:56] #114 closed

[2017-11-22 13:07] yuricamara commented on #114
Thank you very much for solving this issue, @eitanp461 .

When should it be a release with this merge?

[2017-11-22 14:30] eitanp461 commented on #114
@yuricamara The new version has been released.
All samples on `master` branch were updated to use Angular 5.

[2017-11-22 15:09] yuricamara commented on #114
I have just updated my project with the new version.
I didn't see any issue. Congratulations, @eitanp461

[code]

[2017-11-22 15:41] eitanp461 commented on #118
@ctaepper We've released SDK version `angular-4.x@^1.1.0`.
See updated usage in samples here - https://github.com/cloudinary/cloudinary_angular/commit/007ea2180e27ed60ac8edd817337f2cd4f8f2227

[2017-11-22 15:42] eitanp461 commented on #116
@janfeyen see full example of uploading to a folder here - https://github.com/cloudinary/cloudinary_angular/blob/master/samples/photo_album/app/js/photo-album/photo-upload.component.ts#L57

[2017-11-22 16:26] #118 closed

[2017-11-23 01:51] nmongiya opened #119 "ReferenceError when used with nativescript-angular"
I am getting the below when I am trying to use <cl-image> in nativescript-angular app.
**ERROR ReferenceError: MutationObserver is not defined**. I am suspecting this is because there is no browser in the app and hence no support for MutationObserver

[2017-11-23 02:54] bjornharvold commented on #114
Works here!! @eitanp461 great work brother :-)

[2017-11-23 10:16] roeeba commented on #119
Hi @nmongiya. Thank you for reporting this issue. Our dev team already handling this. We will update here as soon as this is resolved.

[2017-11-23 10:26] roeeba commented on #108
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2017-11-23 10:26] #108 closed

[2017-11-24 09:57] simonmilz opened #121 "src folder empty when: bower i cloudinary_ng"
![image](https://user-images.githubusercontent.com/5016123/33205178-3f8d0d4c-d106-11e7-8083-d633c5d78976.png)

[2017-11-24 11:02] digitalgears commented on #121
Seeing the same issue

[2017-11-24 11:07] simonmilz commented on #121
@digitalgears for me this works in my bower file, at least for my existing project:

`"cloudinary_ng": "1.0.0"`

[2017-11-24 11:15] digitalgears commented on #121
Thanks. I was using

`"cloudinary_ng": "1.x.x"`

I suspect a version has been published without any of the source files

[2017-11-27 07:41] edwinquaihoi opened #122 "angular 4 native uploader"
It would be much more user friendly to provide a native ng component for the cloudinary upload widget. This component should be integrated into the exist image and video component to provide edit and upload funtionality

[2017-11-27 10:39] roeeba commented on #122
Hi @edwinquaihoi. Ir seems that our [upload widget](https://cloudinary.com/documentation/upload_widget#quick_example) is exactly what you're looking for. It is feature-rich, in active development, and can be used in any frontend project regardless of its tech stack.
In addition, we have a sample project demonstrating an integration with a native Angular upload component - https://github.com/cloudi

[2017-11-27 15:07] selected-pixel-jameson opened #123 "Bower for cloudinary_ng 1.x is not working"
Ran a build this morning and my build is no longer working. When the Angular project fires up it tells me that the cloudinary module doesn't exist. I'm using:
[code]

When I test this locally the cloudinary_ng folder just has an empty src folder. I'm not sure if that is correct and this is just referencing dependencies or not. In any case his is kind of a big issue.

[2017-11-27 15:22] selected-pixel-jameson commented on #123
Duplicate.

[2017-11-27 15:22] #123 closed

[2017-11-27 15:23] selected-pixel-jameson commented on #121
Same issue. Using 1.x.

[2017-11-28 09:30] tocker commented on #121
We're checking this issue, but please note that bower is deprecated. In their own words:

[2017-11-28 09:40] simonmilz commented on #121
@tocker I already switched to yarn yesterday ;)

[2017-11-28 10:30] tocker commented on #121
v1.1.0 was issued by mistake on the wrong angular version branch.
We will release version 1.1.1 to solve this soon.

[2017-11-28 11:16] eitanp461 commented on #121
Published version 1.1.1 to Bower which fixes this issue.
@simonmilz @selected-pixel-jameson can you please verify?

[2017-11-28 12:27] simonmilz commented on #121
`bower i cloudinary_ng@1.1.1` works.

[2017-11-28 14:01] roeeba commented on #122
Hi @edwinquaihoi. The photo album sample project uses the open source file uploader [ng2-file-upload](https://github.com/valor-software/ng2-file-upload) and not Cloudinary's upload widget.
Here is a basic example of how you can implement our upload widget in Angular2 - http://jsfiddle.net/roee_ba/7ovf0sbu/
(make sure to set your cloud_name and upload_preset were needed)

[2017-12-05 09:37] roeeba commented on #112
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2017-12-05 09:37] #112 closed

[2017-12-05 17:59] jlamarr22 commented on #77
Just wanted to comment here to let people know how I solved this. I had been looking at how I was importing the Cloudinary module in my `app.module.ts`, but my issue was actually being caused by the Component that was using Cloudinary. My file `app.module.ts` is similar to @RomainMarecat's Update 5 example above.

We were using angular CLI to build/serve the application with the `--prod` flag, [wh

[2017-12-26 16:26] wuilliam321 commented on #108
Thanks @roeeba `[attr.version]` solved the issue

[2018-01-02 17:21] kadosh1000 opened #125 "Angular 5 AOT build fails"
After upgrading to Angular 5 and @cloudinary/angular-5.x, trying to create an AOT build throws the following error:

![image](https://user-images.githubusercontent.com/2615945/34492885-200e0a06-eff2-11e7-9cb6-57ea9e310923.png)

[2018-01-02 19:32] eitanp461 commented on #125
@kadosh1000 Can you share your module creation code?
Have you seen our Angular CLI sample? It was tested for AOT builds.
Note how Cloudinary is instantiated - https://github.com/cloudinary/cloudinary_angular/blob/master/samples/angular-cli-sample/src/app/app.module.ts

Hope it helps.

[2018-01-03 15:37] kadosh1000 commented on #125
@eitanp461 It was my fault, I have forgotten to change all the import refrences from the 4.x to 5.x

I think that your package naming convention is problematic, I would recommend in the future maybe you should consider changing the naming convention, so the package would always be called for example `@cloudinary/angular` and maybe increase a major for each angular version (ie. v5.0.0)

[2018-01-03 15:37] #125 closed

[2018-01-10 05:51] Crizstian opened #126 "CORS Problem Following example of photo_album"
I'm having the cors problem, and i have tried many things to avoid it, but it stills present

I'm using the cloudinary version 5 for angular and i have angular 5.2, this my configuration i am uploading it with ng2-file-upload

[code]
Failed to load https://api.cloudinary.com/v1_1/producmex/upload: Response to preflight request doesn't pass access control check: The value of the 'Access-Control-All

[2018-01-10 06:48] eitanp461 commented on #126
@Crizstian I can't reproduce the problem. I've tried changing `autoUpload: false` since it is different than the example from the `photo_album` sample. I added a button that calls `uploader.uploadAll()` independently and upload still works.

Can you provide more details on your project, and the things you've tried so far to resolve this issue?
Can you provide a sample project?
Have you seen https:

[2018-01-11 04:36] Crizstian commented on #126
i have solved it with the following config in my module

[code]

and for the uploading i was missing the `this.uploader.onBuildItemForm` function setting the parameters, now i am able to upload

but i think it is to blury to set all the configuration and the jquery dependency also, it has to many things that need to be fixed this library.

[2018-01-11 04:36] #126 closed

[2018-01-12 13:10] netstart opened #127 "Add funcionalities in the examples"
1 - Add signed Upload images

2 - Delete image using signed images, the actual code not work, if i add return_delete_token in the request, I receive:
`X-Cld-Error:Return delete token parameter is not allowed when using unsigned upload. Only upload_preset,callback,public_id,folder,tags,context,face_coordinates,custom_coordinates upload parameters are allowed.`

3 - Replace existing image using the

[2018-01-12 13:16] netstart commented on #122
Widget not replace or delete image after upload. The actual version is not work to me

[2018-01-12 13:46] netstart commented on #64
If I add return_delete_token in the request, to get token i receive:
`X-Cld-Error:Return delete token parameter is not allowed when using unsigned upload. Only upload_preset,callback,public_id,folder,tags,context,face_coordinates,custom_coordinates upload parameters are allowed.`

How can i signed request? I Tried add in the below code in the  photo_album_aot sample
[code]

[2018-01-13 07:21] bjornharvold commented on #81
This would be a great feature to have indeed. This use case has come up several times.

[2018-01-14 13:11] eitanp461 commented on #64
@netstart the `delete_token` is added automatically to the upload response once it is enabled in the upload preset. You shouldn't add it manually to the upload request.

You update this setting by:

1. Going to the settings/upload page in Cloudinary's administration console (https://cloudinary.com/console/settings/upload)
2. Click on "Edit" next to your unsigned upload preset
3. Click on "Advanced

[2018-01-14 13:34] eitanp461 commented on #127
@netstart the first 2 issues were answered [here](https://github.com/cloudinary/cloudinary_angular/issues/64#issuecomment-357510958).

As for replacing an existing image with the same public id, it is not supported for unsigned uploads by design, in order to restrict everybody from changing your uploaded assets without permission.
You can find the documentation for the available upload parameters

[2018-01-15 04:53] bjornharvold commented on #107
This is a great feature to have :-) We've been bypassing the directive, in many instances, in favor of direct URL to set the CSS background image as it allows us more control over how the image gets displayed.

If there is another way around this, I would love to find out.

[2018-01-15 14:17] lujakob commented on #73
For me a downgrade to
`    "cloudinary-core": "^2.3.0",
`
solved it the
`TypeError: Cannot read property 'CloudinaryJQuery' of null
`

[2018-01-15 14:17] lujakob commented on #77
For me a downgrade to
`    "cloudinary-core": "^2.3.0",
`
solved it the
`TypeError: Cannot read property 'CloudinaryJQuery' of null
`

[2018-01-15 17:43] #127 closed

[2018-01-15 22:31] Tomdrouv1 commented on #93
Hi! Any news for that issue ?

[2018-01-16 10:54] eitanp461 commented on #93
@Tomdrouv1 https://github.com/cloudinary/cloudinary_angular/pull/120 fixes this issue. I will try to publish a new version in a few days

[2018-01-17 12:37] strausr commented on #122
@netstart Can you please elaborate on how you're using the widget to replace an image? You can also open a support ticket at support@cloudinary.com with more details.

[2018-01-18 10:35] #88 closed

[2018-01-26 21:37] mlb6 commented on #93
@eitanp461 I'm waiting for this fix. Do you have an ETA for the new version of the library? Is there a way to use your PR with npm ?
I've tried to change the package.json dependency to use your PR, but it does not seem to work.
`
"@cloudinary/angular-5.x": "cloudinary/cloudinary_angular#universal-rendering",
`

[2018-01-28 07:09] #119 closed

[2018-01-28 15:10] eitanp461 commented on #93
@mlb6 @Tomdrouv1 @dottodot our [latest release](https://github.com/cloudinary/cloudinary_angular/releases/tag/(5.x)1.0.1) should resolve this issue.

You can install it with `npm install @cloudinary/angular-5.x@^1.0.1`.

[2018-01-28 15:11] eitanp461 commented on #116
Answered and provided an example, closing due to time elapsed

[2018-01-28 15:11] #116 closed

[2018-01-28 15:12] eitanp461 commented on #111
@urstack closing due to time elapsed. Please re-open if you are still experiencing the problem.

[2018-01-28 15:12] #111 closed

[2018-02-01 01:35] selected-pixel-jameson opened #129 "Bower and cloudinary_ng 1.0 coming back with empty src directory"
I have a dependency using the cloudinary_ng library from Bower and it's pointing to version 1.0. All of a sudden I'm getting angular module errors and if I look at the bower directory for cloudinary_ng the src folder is empty. Has something changed with this?

[2018-02-01 08:54] eitanp461 commented on #129
@selected-pixel-jameson please update Cloudinary's dependency to ```"cloudinary_ng": "~1.x"``` which should resolve your issue.

On a general note, Bower's homepage has this discliamer

[2018-02-19 12:22] roeeba commented on #122
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2018-02-19 12:22] #122 closed

[2018-02-27 16:30] asafp commented on #77
still having this issue after downgrading to 2.3.0
did any one solved this ?

[2018-02-27 20:26] eitanp461 commented on #77
@asafp You can find sample projects that implement the required setup for each Angular version.
Does https://github.com/cloudinary/cloudinary_angular/tree/angular-2.x/samples/angular-cli-sample help you?

[2018-03-08 14:55] mohdalixotiv opened #137 "Issue while upgrade @cloudinary/angular to @cloudinary/angular-5.x"
when I update @cloudinary/angular to @cloudinary/angular-5.x. error coming as:

![image](https://user-images.githubusercontent.com/36029075/37157148-03fef81c-230e-11e8-8482-2a577f118030.png)

ionic info are as:

![image](https://user-images.githubusercontent.com/36029075/37157223-3f6e15cc-230e-11e8-9ffe-c67500774484.png)

Any help will be appriciable. Thanks in advance.

[2018-03-08 17:05] strausr commented on #137
@mohdalixotiv Can you please specify what version you upgraded from and what version of typescript are you using?

[2018-03-09 06:36] Sohorev opened #138 "Please add support angular 6"
I am using angular 6 beta 6 and ahve following error:
Uncaught Error: Unexpected value '[object Object]' imported by the module 'GuiModule'. Please add a @NgModule annotation.

Please add support for angular 6

[2018-03-09 07:07] mohdalixotiv commented on #137
**Privios Versions**: Angular 4.1.3 Ionic 3.0.1
**Current Versions**: Angular 5.2.7 Ionic 3.9.2

[2018-03-09 08:38] strausr commented on #137
@mohdalixotiv We're unable to reproduce this error. If you're still experiencing errors, please share with us a project that reproduces the errors. You can also share your project via a support ticket at support@cloudinary.com

[2018-03-09 09:30] strausr commented on #137
@mohdalixotiv Can you please specify the TypeScript versions you're using and if it was updated as well?

[2018-03-09 10:20] mohdalixotiv commented on #137
previos typescript version: 2.2.2 now 2.3.4

[2018-03-11 08:35] roeeba commented on #138
Hi @Sohorev. Thank you for letting us know. We'll make sure to add support for Angular 6 once it's officially released.

[2018-03-13 08:27] roeeba commented on #129
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2018-03-13 08:27] #129 closed

[2018-03-13 13:49] strausr commented on #137
@mohdalixotiv Looks like the issue is with the typescript version. Please upgrade to a version >=2.4.x

[2018-03-14 01:41] tharrington opened #140 "cloudinary_ng 1.1.1 with webpack"
Can we use this version with webpack? I am not able to get the module to resolve:

ERROR in ./~/cloudinary_ng/js/angular.cloudinary.js
Module not found: Error: Cannot resolve module 'cloudinary' in /Users/tyler/Desktop/test-api/node_modules/cloudinary_ng/js
 @ ./~/cloudinary_ng/js/angular.cloudinary.js 5:8-8:19

[2018-03-15 07:17] johnfrades opened #141 "You must set the public id of the image to load, e.g. <cl-image public-id={{photo.public_id}}...></cl-image>"
Hi, im using Angular 5 and im getting this error

`You must set the public id of the image to load, e.g. <cl-image public-id={{photo.public_id}}...></cl-image>`

Here is my code

` <cl-image public-id="{{myProfile?.profilePicture}}"
            class="thumbnail inline"
            angle="20"
            format="jpg">
  </cl-image>`

Basically myProfile is an object, and it's fetching from the back

[2018-03-15 11:02] roeeba commented on #140
Hi @tharrington, we're trying to reproduce the issue on our side. Can you please share with us your dependencies (`package.json`)?

[2018-03-15 13:18] strausr commented on #141
@johnfrades Is the image displaying for you? Can you please elaborate on the errors your seeing?

[2018-03-15 22:54] johnfrades commented on #141
@strausr  yes the image is displayed, but after a few seconds, because i called it on the api backend. later when i get home i will paste the error. Thank you!

[2018-03-21 16:41] erperejildo opened #142 "TypeError: Cannot read property 'options' of undefined"
when I select an image to upload

[2018-03-21 20:32] shirlymanor commented on #142
@erperejildo can you please share your code that causes this error? thanks

[2018-03-22 09:30] johnfrades commented on #141
Here's the error

![awgzxgqwahqa](https://user-images.githubusercontent.com/20201069/37762154-7519291a-2e20-11e8-991a-9f112e47ff8b.JPG)

so `authState$?.user.profilePicture` is the public id of the picture. I'm calling the backend to get it, thats why i put "?" on it.

[2018-03-22 09:32] erperejildo commented on #142
I just copied this component:
https://github.com/cloudinary/cloudinary_angular/tree/master/samples/photo_album/app/js/photo-album

[2018-03-22 14:08] shirlymanor commented on #142
@erperejildo did you change the configurations as explained here: https://github.com/cloudinary/cloudinary_angular/tree/master/samples/photo_album

[2018-03-22 14:42] erperejildo commented on #142
yes, in fact I tried first displaying one of my images and it worked. It might be related with `ng2-file-upload`

[2018-03-22 19:02] strausr commented on #141
@johnfrades can you please elaborate on what you're using to call your backend and what value is returned here authState$?.user.profilePicture?

Can you also specify the versions you're using?

[2018-03-22 20:28] johnfrades commented on #141
I'm very sorry @strausr my apologies, it was that I forgot to load the `CloudinaryModule` into my child modules.

[2018-03-22 20:28] #141 closed

[2018-03-23 09:19] strausr commented on #142
@erperejildo Did you install all the specified dependencies? Please share with us your project on support@cloudinary.com so that we can take a closer look

[2018-03-23 11:16] erperejildo commented on #142
@strausr I tried first of all cloning this repo but it wasn't working. Maybe because I missed something on the config so I tried it out directly on mine which was already configured.

This might be an issue on latest version of `ng2-file-upload` and I'm just creating confusion here:
https://github.com/valor-software/ng2-file-upload/issues/934

[2018-03-23 15:04] erperejildo commented on #142
Yes, it might be related with that because I'm also getting this error now:
`Upload preset not found`
when the image is also selected:
<img width="351" alt="screen shot 2018-03-23 at 15 03 35" src="https://user-images.githubusercontent.com/5629919/37836820-6ae28884-2eab-11e8-820c-5134e35a9e78.png">
I'll close this issue, not related with this repo. Any help would be welcome tho

[2018-03-23 15:04] #142 closed

[2018-03-23 15:25] erperejildo commented on #142
Found it: didn't have the preset configured. I thought this was optional.

My fault!

[2018-03-25 10:23] erperejildo opened #143 "Change folder (question)"
Would be possible to change the folder when I upload a picture?

I tried adding it at the end of the url:
[code]

and also as a `folder` property as I saw in other examples but didn't work.

PS: tried this with the folder created

[2018-03-25 11:10] roeeba commented on #143
Hi @erperejildo. Did you try the sample code Eitan share here - https://github.com/cloudinary/cloudinary_angular/issues/116#issuecomment-361069980?
Let me know if it works for you?

[2018-03-25 11:27] erperejildo commented on #143
working perfectly, thanks!

[2018-03-25 11:27] #143 closed

[2018-03-27 09:48] erperejildo commented on #143
@roeeba if I want to get the images from that folder wouldn't be like this? (doesn't work):
[code]

[2018-03-27 13:38] erperejildo opened #144 "Create thumbnail (question)"
On my example you can you choose a picture and after upload it to Cloudinary it will also save this reference on my Firebase ddbb to be displayed after on a different section of my app.

This works perfectly I'd need to save also a thumbnail reference. How can I create this without pushing again a smaller image?

Using Angular 5

[2018-03-27 23:21] shirlymanor commented on #144
@erperejildo When changing the URL on the fly it will create a derived image. in another word, you can just save the public id and if you are updating images you can save the version as well.

For example:

[code]

Here is more information about image manipulations with angular:
https://cloudinary.com/documentation/angular_image_manipulation

[2018-03-28 08:35] erperejildo commented on #144
I display the information saved on Firebase which is just an url. I don't use Cloudinary to display anything, just to push these images.

[code]

I can save the reference instead the url and use that but I'd end up calling 2 different APIs and also (or maybe) making the client side a bit slower using this transformation for every image. My app has a layout like Instagram with too many images to di

[2018-03-28 19:57] shirlymanor commented on #144
@erperejildo When using the `cl-image` with  `public-id` we are not calling the API. It's just string generation and it will not take much time and will not call the server side.

Alternatively, you can use [eager transformation](https://cloudinary.com/documentation/upload_images#eager_transformations) and create it when uploading the image (one call).

[2018-04-03 21:41] shirlymanor commented on #144
@erperejildo 1. you can achieve this is both ways, both will work seamlessly.

a. When doing eager, as part of the response, we'll include the URL to the thumbnail version too, you can store that as a reference (e.g., `recipe.thumb_url`).
b. What we meant is that Cloudinary indeed does the transformation on our end, not on the client-side.
For example, for an original image:
https://res.cloudinary

[2018-04-04 08:41] erperejildo commented on #144
If you say that this is not taking more time to be resized obviously the best option would be create the thumb on the fly. Also as a free user it's much better for me not creating unnecesary images.

Considering also this last thing in order to reduce the bandwidth the best approach in my opinion would be implementing both ways:
I won't create any thumbs but I'll storage the real image and the thu

[2018-04-04 08:41] #144 closed

[2018-04-08 14:31] erperejildo opened #145 "Samples using an upload button (question)"
I've got your example working perfectly but I need to make the upload process with a button not after selecting the image.

I've been looking an example like this but I couldn't find something similar.

My problem is with events like `this.uploader.onProgressItem = (fileItem: any, progress: any) => {` how can I get this progress?

[2018-04-09 14:10] strausr commented on #145
@erperejildo We don't have an Angular solution but you can You can bind to various progress update events and display a progress bar using our Jquery library- https://jsfiddle.net/fmyL8y7j

[2018-04-09 22:57] eitanp461 commented on #145
@erperejildo I created a branch where the file selection is separated from the upload part.
Please see https://github.com/cloudinary/cloudinary_angular/commit/067c5ed51063a343d662720eed9128ea2de824cf

You can check out the `eparate-file-choice-and-upload` branch and run the `photo-album` sample to test it.

[2018-04-10 13:31] erperejildo commented on #145
@strausr thanks for your solution but I'd like be separated from jQuery

@eitanp461 that's awesome. I'll try it now and I'll let you know anything.
Just one question: I saw that you downgraded the version TS. Any reason?

[2018-04-10 15:43] eitanp461 commented on #145
@erperejildo the TS change is unrelated, it was changed to test https://github.com/cloudinary/cloudinary_angular/issues/137

[2018-04-10 21:16] erperejildo commented on #145
Ah cool.

So the only thing I needed was remove `autoUpload: true` and add `this.uploader.uploadAll()` to my upload function.

Works perfectly. Thanks!

[2018-04-10 21:18] #145 closed

[2018-04-17 11:04] erperejildo commented on #145
If this helps, I moved this to a provider in order to being used on different pages.

For that we need to move everything inside our provider (obv) but we need to replace the `OnInit` function to a normal one and create this `OnInit` on our class calling previous function.

More info here: https://github.com/valor-software/ng2-file-upload/issues/1007#issuecomment-381911966

[2018-04-25 07:26] Abhivendra opened #147 "Cannot read property 'CloudinaryJQuery' of null"
"@cloudinary/angular-5.x": "^1.0.1",
"cloudinary-core": "^2.5.0",

Working fine on ng build --prod --aot=false. But giving this error on ng build --prod.
Tried all the solutions of
https://github.com/cloudinary/cloudinary_angular/issues/92
https://github.com/cloudinary/cloudinary_angular/issues/73

Please resolve it ASAP. My app performance has reduced by 60% without ahead of time compilation.

[2018-04-25 09:44] strausr commented on #147
@Abhivendra Can you please share with us more information on your implementation? For example, your module.ts that initialize the Cloudinary module?
What tools are you using for build/deploy?

[2018-04-29 13:16] Abhivendra commented on #147
[code]

[2018-04-29 13:35] eitanp461 commented on #147
@Abhivendra We're missing the code that sets up the module.

Please try the following:

[code]

[2018-05-10 15:38] mrkhangtran commented on #77
For anyone still looking for the solutions, it is here
https://github.com/cloudinary/cloudinary_angular/tree/master/samples/angular-cli-sample

[2018-05-10 17:18] roeeba commented on #140
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2018-05-10 17:18] #140 closed

[2018-05-22 10:14] lujakob commented on #138
@roeeba Are there any news about the update to Angular 6? It's officially been released almost three weeks ago and we are waiting to be able to update our project. The Cloudinary_angular package is the dealbreaker. Please let me know about your progress. Thanks!!!
https://github.com/angular/angular/blob/master/CHANGELOG.md

[2018-05-23 12:49] #107 closed

[2018-05-24 07:51] strausr commented on #138
@lujakob We have updated all of our samples to use Angular6.
Currently in a branch -
https://github.com/cloudinary/cloudinary_angular/tree/angular6/samples

[2018-05-28 05:58] arifullahjan commented on #92
Still givess RROR TypeError: cloudinaryJsLib.Cloudinary is not a constructor
    at new Cloudinary (vendor.js:122171)
    at createCloudinary (vendor.js:122052)
    at _callFactory (vendor.js:61873)
    at _createProviderInstance$1 (vendor.js:61827)
    at resolveNgModuleDep (vendor.js:61790)
    at N
Angular 6
used both 4.x and 5.x

[2018-05-28 09:06] dhirmadi opened #149 "You must set the public id of the image to load, e.g. <cl-image public-id={{photo.public_id}}...></cl-image>"
a sub component called 'activities' delivers this error message based on the following entry in the template
      **<cl-image public-id={{imageLink}} class="card-img-top w-100">**
The image is still displayed, despite the error.

When I debug the page and drill down to the component, it results in the following link which works http://res.cloudinary.com/katyev/image/upload/c_thumb,g_face,w_150/vf

[2018-05-28 10:56] strausr commented on #92
@arifullahjan Can you provide more information on your setup? Please take a look at our sample projects that implement the required setup for each Angular version https://github.com/cloudinary/cloudinary_angular/tree/angular-2.x/samples

[2018-05-29 11:09] dhirmadi commented on #149
Hi,

sure. the code for the project is located here

https://github.com/dhirmadi/katyev01

kind regards
Evert

--
Evert Smit
e-Mail info@moonshade.com <mailto:info@moonshade.com>
Mobile +41795720690
Website: http://evert.photography

[2018-05-29 11:15] dhirmadi commented on #149
Here the actual component.

--
Evert Smit
e-Mail info@moonshade.com <mailto:info@moonshade.com>
Mobile +41795720690
Website: http://evert.photography

// src/app/pages/my-profile/my-images/my-images.component.ts
import { Component, Input, OnInit, OnDestroy } from '@angular/core';
// import { Observable } from 'rxjs/Observable';
import { Subscription } from 'rxjs/Subscription';
import { AuthService

[2018-05-30 06:59] dhirmadi commented on #149
Thanks of your support.  You are right. It makes sense to check for the
value.  This fixed my issue!

--
Evert Smit
e-Mail info@moonshade.com <mailto:info@moonshade.com>
Mobile +41795720690
Website: http://evert.photography

[2018-05-30 17:20] roeeba commented on #149
Thanks for the update, @dhirmadi.

[2018-05-30 17:20] #149 closed

[2018-06-06 15:04] Tomdrouv1 opened #150 "NameNodeMap is not defined"
Hi,

I'm actually using @cloudinar/angular-5.x, version 1.0.1 and I notice an error during server side rendering for images which are call with clSrc directive :

` ERROR ReferenceError: NamedNodeMap is not defined
1|ssr-happ |     at isNamedNodeMap (/usr/share/nginx/html/happeero/node_modules/@cloudinary/angular-5.x/src/cloudinary.service.js:17:78)
1|ssr-happ |     at transformKeyNames (/usr/shar

[2018-06-07 06:41] eitanp461 commented on #150
@Tomdrouv1 we have several samples using server side rendering which seem to work well.
Can you check https://github.com/cloudinary/cloudinary_angular/tree/master/samples/angular-universal-sample?
You can run the sample with `npm run build:ssr && npm run serve:ssr`.

BTW We have updated all of our samples to use Angular6.
Currently in a branch -
https://github.com/cloudinary/cloudinary_angular/tre

[2018-06-10 19:11] hassanasad opened #151 "clBackgroundImage directive coming out"
Hi - I can see that the PR for `clBackgroundImage` directive has been merged into `master` branch.

PR = https://github.com/cloudinary/cloudinary_angular/pull/136

When will it be part of new release? I am anxiously waiting for this directive :)

[2018-06-23 11:33] erperejildo opened #152 "Upload more than one image"
This is just a question, not an issue.

I'm uploading my images perfectly also using Angular 5 but I was wondering if would be possible to upload more than one image at once.

The progress bar should be calculated for both. Would be this possible? If so, what's the best approach?

[2018-06-24 03:57] johnfrades opened #153 "class defined on <cl-image> also applied to the generated <img>"
Hi, i have this issue where if i put a class in `<cl-image>`, the generated`<img>` also inherits that class which comes into a problem.

For example
`<cl-image [public-id]="someId" class="mr-3"><cl-image>`

compiles into
[code]

the "mr-3" class is adding a right margin.
With this situation, it doubles the margin it adds because the "mr-3" class exists on both `<cl-image>` and `<img>` tags.

[2018-06-24 12:16] strausr commented on #152
@erperejildo uploading multiple images is indeed possible. The progress bar is calculated using ng2-file-upload and is per upload, meaning for each upload a progress bar is generated. Please note that this is recommended since it is a better indicator of the upload success of a file.

[2018-06-26 09:16] strausr commented on #153
@johnfrades Can you please provide us with a live example?

[2018-06-26 13:52] erperejildo commented on #152
I see... so it wouldn't be possible calculate the whole size and from this create a unique progress bar.

My idea is upload an image and create locally a thumbnail and push also this. Tbh I don't really mind to create a second (or mixed) progress bar because this thumbnail is going to be to small to bother the user with another progress bar.

How can I upload more than one image then?

[2018-06-26 14:22] strausr commented on #152
@erperejildo I think I misunderstood your question. To upload multiple resources- you would need to make an upload call each time. You can see how this achieved on our sample photo album by selecting multiple resources- https://github.com/cloudinary/cloudinary_angular/tree/master/samples/photo_album

[2018-06-28 11:05] erperejildo commented on #152
Sorry, my bad.

I want to **select** one image but I need to upload two:
- I select the image that I want to upload
- I create a thumbnail
- I upload both of them (and don't mind to create the progress bar just for the first one as commented)

[2018-06-28 13:23] strausr commented on #152
Great, then taking a look at the sample photo album would be helpful to see how to upload an image and create a progress bar.

To create the thumbnail, I would suggest adding it as a preconfigured eager transformation to an upload preset. This is defined on your congif.ts.
Doing this means that when you upload your original image a transformed thumbnail version of that image will be created as wel

[2018-06-29 14:44] erperejildo commented on #152
At the moment it's working with eager transformation (https://github.com/cloudinary/cloudinary_angular/issues/144)  but I'd prefer a normal thumb and push it.

To upload the image I have this line:
[code]
`this.uploader = new FileUploader(uploaderOptions);`

[2018-07-02 09:04] strausr commented on #152
You can have a separate upload preset that you use for uploading the thumbnails. You can define the thumbnails as an incoming transformation. Then all uploads using that preset will be uploaded as a thumbnail.

[2018-07-02 19:01] erperejildo commented on #152
but this uploader preset is linked to my input, isn't? Can I have to present for the same input element?

[2018-07-03 07:37] strausr commented on #152
Have the same preset means that when you use it to upload a resource then all uploads will have the same configuration.

[2018-07-03 11:12] erperejildo commented on #152
hmmm, not sure if I follow you. I was using this on an old project I got it working like this:
[code]

Before we were working with the local image url but now `this.uploader` has to be linked to `FileUploader`. So not sure how chain these 2 uploads (it has to be quite simple but can't see it sorry).

I'm also reading this but can't figure out how to do it:
https://cloudinary.com/documentation/angu

[2018-07-04 11:13] strausr commented on #152
To upload the image as is and as a thumbnail, you need to do two upload calls (just as you're doing above).

That being said, Uploading an image followed by uploading a low-res thumbnail of that image can be avoided when using Cloudinary.
The low-res image can either be created on the fly and cached by our servers or eagerly upon upload. This can be achieved when using an upload preset as explaine

[2018-07-04 12:45] erperejildo commented on #152
The example I posted above doesn't work with Angular2+. That was on my old AngularJS app:
<img width="554" alt="screen shot 2018-07-04 at 13 42 16" src="https://user-images.githubusercontent.com/5629919/42277683-20577938-7f90-11e8-8498-41dd22d05c84.png">
The examples I saw for Angular2+ were using always the input file, not the `src`.

For me it's much easier using eager transformation, I agree, b

[2018-07-04 14:39] strausr commented on #152
Based on your use case it would be best to generate the URL eagerly or on the fly. Then you could display the image using a tag.

Regarding the account limits, once a transformation is generated it only counts once. Meaning the number of transformations does not increase per request of the resource. You can read more on how the quotas are calculated- https://support.cloudinary.com/hc/en-us/article

[2018-07-04 15:29] erperejildo commented on #152
Hmmm I see.

So in that case, if I load first my app and I see `postImage1` and `postImage2` resized to `300x300` and after me you check the same posts, does it mean that these 2 images are not going be resized again?

Makes sense because this is resized on the server. If so, this options sounds perfect to me and I wouldn't have to change anything.

[2018-07-05 12:21] strausr commented on #152
Yes, the original will remain intact but two new derived images will be created.

[2018-07-05 13:03] erperejildo commented on #152
Let me double check that I'm understanding you properly: you're counting 2 in total right? With 2 users checking 2 images each of them we will resize the original image for just one user because the second one sees a resized image.

Am I ok?

[2018-07-08 07:46] strausr commented on #152
We're counting one transformation per upload so one for postImage1 and one for postImage2. Then depending on the transformation one for each- so that would be a total of 4 transformations.

[2018-07-09 11:42] strausr commented on #152
I'm not sure I understand your implementation. You can see an example of uploading and use it as a reference on the following- https://codepen.io/team/Cloudinary/pen/QgpyOK

For more information on upload options please see- https://cloudinary.com/documentation/angular_image_and_video_upload

If you want us to take a look at your implementation, please share with us your exact code.

[2018-07-09 12:23] gate3 opened #154 "Videos not playing in chrome"
The videos don't seem to be playing in chrome when using the angular sdk. It plays on my ubuntu os on chromium, but doesn't play on mac

- My chrome version is Version 67.0.3396.99 (Official Build) (64-bit)
- Angular "@angular/core": "^4.0.0"
- Cloudinary angular version "@cloudinary/angular-4.x": "^1.0.0"

Has this happened to anybody or is there any solution.

[2018-07-09 13:03] strausr commented on #154
Can you please share with us a live page where you're seeing this?

[2018-07-09 18:30] gate3 commented on #154
mysportale.com/freestyle

[2018-07-10 07:37] strausr commented on #154
I'm unable to access the page. I'm seeing the following- "Error detected by Application Firewall. Please contact support if you have any questions."

[2018-07-10 08:42] gate3 commented on #154
Thats strange, I can access it.

![image](https://user-images.githubusercontent.com/3597437/42498987-8a1ecce2-8425-11e8-859d-8250d0586abb.png)

[2018-07-10 09:44] Tomdrouv1 commented on #150
Hi @eitanp461

I tried to run ssr examples but there is no clSrc directive for img tag in those.

This issue happens  when I'm using <img clSrc="a link">.

[2018-07-10 09:56] Tomdrouv1 commented on #138
Hi @lujakob,
Will an Angular 6 release be available soon?
Thx

[2018-07-10 10:42] erperejildo commented on #152
That example is uploading several images but in the end it's always uploading what you have selected from the gallery.

My example is this:
**Component**:
`<input type="file" accept="image/*" class="hidden" #fileInput ng2FileSelect [uploader]="imageUploadProvider.uploader" (change)="fileInput.value=''" />`

**Provider**:
load() {
    const that = this;
    const uploaderOptions: FileUploaderOption

[2018-07-10 11:22] lujakob commented on #138
@Tomdrouv1 cloudinary_angular repo worked for me with Angular 6. So there was no problems for me.

[2018-07-10 11:34] Tomdrouv1 commented on #138
@lujakob I've a problem with clSrc directive of img tag in SSR, so there is a problem...
Maybe not related to Angular 6 but still.

[2018-07-11 09:05] tpiros commented on #122
It'd be great to have an Angular native implementation of the upload widget.

[2018-07-11 12:22] strausr commented on #152
If you want to limit to a single upload the best approach is using our Upload Widget- https://cloudinary.com/documentation/upload_widget

Then you can set the parameter, multiple, to false which will restrict uploading multiple images.

[2018-07-11 12:42] erperejildo commented on #152
It's already limited to 1 upload with `queueLimit: 1`. That's ok

[2018-07-11 12:56] strausr commented on #152
I see. Let me clarify the cases-

Let's say you upload these two images separately- this will count as 3 transformations. One for uploading the original image as is. One for taking the origin and transforming it and then another one for uploading it.

If you upload the image using an eager transformation only 2 transformations will be counted- 1 for uploading the origin and one transformation for

[2018-07-11 13:08] strausr commented on #122
@tpiros Thanks for the feedback. Currently, as @roeeba  mentioned, the best approach would be to integrate the widget directly into your app.

[2018-07-11 14:40] erperejildo commented on #152
Wait... to upload the image we are using transformations? Didn't know that.

But anyway, the problem with eager transformations come when we take bigger number as examples.

When you go to Instagram you'll see more post that are going to upload.

Let's say that you push 2 images but you see 30 posts.
**With eager**: 4 + 30 transformations --> 0% more transformations on post creation, XXX% posts vi

[2018-07-12 07:33] gate3 commented on #154
That's my point exactly, it works on every browser except the latest version of chrome.

[2018-07-15 07:56] strausr commented on #154
The video is playing on chrome latest version-https://jsfiddle.net/eitanp461/sxvLj5qy/
It looks like the issue might be the server that's hosting the video

[2018-07-16 11:37] eitanp461 commented on #138
@lujakob @Tomdrouv1 samples have been updated in master - all are working with Angular6.

[2018-07-16 11:38] eitanp461 commented on #150
@Tomdrouv1 I fixed the SDK and added usage of clSrc and cl-video to the Angular universal sample

[2018-07-16 11:39] eitanp461 commented on #151
@hassanasad published in version `@cloudinary/angular-5.x@1.0.2`

[2018-07-16 12:44] #150 closed

[2018-07-16 21:42] erperejildo commented on #152
any ideas @strausr?

To give you another scenario, I'm using also on other parts of my app the Camera native plugin. After selecting the image from my gallery or take it with my camera I crop it. The final result is an image like this:
`this.myAvatar = "data:image/jpeg;base64," + imageData;`

both of this scenarios are not related to `ng2FileSelect `

[2018-07-16 22:30] erperejildo commented on #122
Totally agree. If you do it get in touch with Ionic team to update their readme

[2018-07-17 08:00] strausr commented on #152
You can use the example I shared above- https://codepen.io/team/Cloudinary/pen/QgpyOK
It would be a simple POST request with your file, this.myAvatar = "data:image/jpeg;base64," + imageData;

[2018-07-17 22:47] erperejildo commented on #152
Perfect. I got it now sorry.

It was failing because I needed to make some changes:
[code]

Easy to make 2 uploads:
[code]

Question resolved. Thanks so much

PS: as an extra point, any idea which option would be better for a free account? https://github.com/cloudinary/cloudinary_angular/issues/152#issuecomment-404194037

[2018-07-17 22:47] #152 closed

[2018-09-03 11:02] erperejildo opened #160 "Lazy loaded module"
What's the best way of doing this?

I found that we need to use with `ng2-translate` `forRoot()` and `forChild()` ([more info](https://ionicframework.com/docs/developer-resources/ng2-translate/#lazy-loading-pages)).

Let's say we've got this config:
- Component1 (we need to select an image)
- Component2 (we need to upload the image)
- Component3 (nothing related to images)

[2018-09-09 07:31] strausr commented on #160
Implementing this would be the same as #152. The upload should not be any different.

[2018-09-09 09:33] erperejildo commented on #160
fair enough. I though we may have had a different configuration as `ngx-translate`.

Cheers

[2018-09-09 09:33] #160 closed

[2018-09-13 09:37] roeeba commented on #153
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2018-09-13 09:37] #153 closed

[2018-09-13 09:45] roeeba commented on #147
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2018-09-13 09:45] #147 closed

[2018-09-13 14:55] roeeba commented on #137
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2018-09-13 14:55] #137 closed

[2018-09-16 14:26] lordUhuru opened #161 "TypeError: null is not an object (evaluating 'n.CloudinaryJQuery')"
I keep getting this error. Find my config below

import { BrowserModule } from '@angular/platform-browser';
import { NgModule } from '@angular/core';

import { AppComponent } from './app.component';
import { ServiceWorkerModule } from '@angular/service-worker';
import { environment } from '../environments/environment';
import { NgbModule } from '@ng-bootstrap/ng-bootstrap';
import { LandingPageCom

[2018-09-16 14:55] lordUhuru commented on #161
Issue was resolved here [Issue 92](https://github.com/cloudinary/cloudinary_angular/issues/92)

[2018-09-16 14:55] #161 closed

[2018-09-21 18:15] roeeba commented on #106
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2018-09-21 18:15] #106 closed

[2018-09-21 18:18] #93 closed

[2018-09-21 18:20] roeeba commented on #79
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2018-09-21 18:20] #79 closed

[2018-10-04 21:49] skelesp commented on #105
Why isn't this merged in 1.x branch?

[2018-10-09 08:42] monis01 opened #162 "Using Video player events"
Hi
How can I detect video `play`, `pause` and `ended` events as described in [cloudinary video events](https://cloudinary.com/documentation/video_player_events_analytics). What will be `cld.videoPlayer` in this case. Is `cld` cloudinary service?
Thanks

[2018-10-09 15:17] igy commented on #162
Hi Monis,

Using the example in the video player API reference documentation, `cld` is an instance of the Cloudinary object from the JS SDK, usually initialized with the function
`cloudinary.Cloudinary.new()`. Full documentation for that SDK can be found here: https://cloudinary.com/documentation/javascript_integration

There's a detailed example in the [video player documentation](https://cloudin

[2018-10-09 15:17] #162 closed

[2018-10-28 01:45] inidaname commented on #77
For Angular 6 this is still an issue and I have tried every work around provided here and implemented some myself still no success please, I need your assistance

[2018-10-28 11:00] strausr commented on #77
@inidaname Can you please provide more information on your implementation? perhaps a live example?

[2018-11-20 22:20] srinigithub2016 commented on #51
"Upload preset must be specified when using unsigned upload" still error throwing after enabling Unsigned uploading enabled through admin console.

[2018-11-20 23:51] srinigithub2016 commented on #51
Hi,

i am using .net library to upload the file.

sample code snippet is below.

//intializing the account and creating cloudinary object
Account acccount = new Account(
_cloudinaryConfig.Value.CloudName,
_cloudinaryConfig.Value.APIKey,
_cloudinaryConfig.Value.APISecret
);
_cloudinary =new Cloudinary(acccount);

//upload the file stream with ImapgeUploadParams.
if(file.Length>0)
{
using (var strea

[2018-11-21 01:01] marissa-masangcay commented on #51
Hi @srinigithub2016,

We'd be happy to take a look at your logs if you could provide us with your cloud name. If you'd like to keep this information private please feel free to open a support ticket with us at the following link:

https://support.cloudinary.com/hc/en-us/requests/new

Also, have you tried passing in the parameter Unsigned = true with this call? Just as a side note as well, is there

[2018-11-21 17:10] #51 closed

[2018-12-24 09:31] tuanhuu commented on #64
how to delete without 10 min

[2018-12-24 10:54] idobarnoam commented on #64
@tuanhuu If you want to delete resources after 10 minutes has passed you would need to use other methods which are available in our authenticated API.

Either by using the [Destroy method](https://cloudinary.com/documentation/image_upload_api_reference#destroy_method) of the upload API or use the [Delete method](https://cloudinary.com/documentation/admin_api#delete_resources) of the admin API.

[2018-12-26 08:45] tuanhuu commented on #64
thank u, i will try

[2018-12-27 08:18] crazycodewriter opened #164 "How to add such a styles on image?"
Before implementing the Cloudinary component I wrote special css classes for image and it has full width and 200px height of the card component. But after implementing this component it's not working anymore.
**CSS**
[code]
**Cloudinary component**

[code]

1. How can I make it's width 100% of the card also keep responsive?
2. In other places, I wrote for other components even more styles? Are css

[2018-12-29 08:09] crazycodewriter commented on #164
@strausr  thanks for replying. One more question. What is wrong with using Cloudinary in Angular without this package? We used something like this and it worked perfectly:
`<img class="card-img-top" src="http://res.cloudinary.com/cloud_name/image/upload/v{{user.picVersion}}/{{user.picId}}"`

Why we need additional dependency if such a simple solution works in the same way?

[2019-01-03 10:02] #164 closed

[2019-01-03 10:02] crazycodewriter commented on #164
Thanks for explaining.

[2019-01-03 16:34] crazycodewriter opened #166 "Delete Image is not working"
We are trying to remove image but when click delete image button nothing happens. Here is the code:

**Angular Service**
[code]

**Angular Component**

[code]

**HTML**

[code]

Each user image has such a button which should delete it. There is also set as profile image button with the same concept which one works perfectly unlike this one.

Also here is the backend Node.js part:

[code]

[code]

[2019-01-03 19:11] strausr commented on #166
The delete functionality your using is not Cloudinary related.

If you want to delete images you will need to use our authenticated API. Using admin API requires the account's secret key.
It should not be used in client code since it leaks that secret.
The safer alternative would be creating a custom endpoint in your backend which calls Cloudinary's admin API for deletion (so that the secret is no

[2019-01-03 20:01] crazycodewriter commented on #166
@strausr  First part was confusing. I used Cloudinary api in the backend before all functions like upload set default image and DeleteImage there were implemented:

[code]

Upload image and set default work perfectly only delete don't work. These mentioned api details were implemented in Node.js backend as recommended.

[2019-01-03 21:32] strausr commented on #166
Can you please share with me your cloudname and are you seeing any errors?

Also, I noticed that you're not using our v2. For example, `cloudinary.v2.uploader.destroy(public_id, options, callback);`

Is there any reason for that?

[2019-01-04 08:49] crazycodewriter commented on #166
@strausr  Cloud name is **testamicin**
When we change into v2 it throws an error public_Id is not defined. But without v2 as was in our code it doesn't show any error. Just usual bad request 400 which appears instantly in console log when we run a local server. So this one is not connected with delete function because it even was there before writing delete function.

[2019-01-04 16:19] strausr commented on #166
It looks like you're not supplying the correct parameters to the method. Instead of `cloudinary.uploader.destroy( { imgId, imgVersion } `
Please do the following `cloudinary.uploader.destroy(imgId)`. Note that there is no need to pass in the parameters as an object and that we don't process the version as well.

Moreover, this specific method will always return 200, what changes is the json respon

[2019-01-04 21:57] strausr commented on #166
Can you please verify that the imgId your passing is is a valid public_id? Looking into our logs it looks like you're passing in the following- `ResourceInvalid: public_id (v/) is invalid`

[2019-01-07 08:33] crazycodewriter commented on #166
@strausr How to verify? I am logged in with that user with who uploaded that image and uploaded successfully. Now the whole code for deleting looks like this:

[code]

[code]
**Angular**

[code]
[code]

[2019-01-07 14:56] roeeba commented on #55
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-01-07 14:56] #55 closed

[2019-01-07 16:31] strausr commented on #154
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-01-07 16:31] #154 closed

[2019-01-07 16:41] strausr commented on #166
@crazycodewriter To delete an image you'll need to pass in the public_id of the uploaded image. Is there any way you can debug your code to see what the value of public_id you're passing into the destroy method? You can try console logging its value.

Currently, we're still seeing you passing in `v1/` as the public_id value which is invalid and therefore we're seeing the following error- `public_i

[2019-01-07 18:36] crazycodewriter commented on #166
I only see that error which you see but for uploading. The fun part is that it uploads an image and everything works perfectly for that upload. But in the console.log I see:
**Failed to load resource: the server responded with a status of 400 (Bad Request) http://res.cloudinary.com/testamicin/image/upload/v/**
But anyway uploading works. We have also set default function which uses image parameter

[2019-01-08 00:56] strausr commented on #166
Since I can't see the value of imgId its difficult to know what is actually being passed into the destroy method. Would it be possible to share with me a few examples of the ids you passed in?

Moreover, I took a look into your destroy logs for the past 24 hours and I can see that 38 successful requests were made. I was unable to see any unsuccessful destroy requests. Can you further elaborate on

[2019-01-09 05:14] MrXemiu opened #167 "We want an Angular2+ directive/module for the Cloudinary file upload widget"
The widget shown and described at https://cloudinary.com/documentation/upload_widget is implemented in pure JS.  We would like one that easily plugs into a modern Angular application.  I saw a similar issue elsewhere that was closed.

The current Cloudinary Angular samples are terrible and obsolete.   The Cloudinary widget from the link above offers so much more functionality than a simple file-up

[2019-01-10 00:18] shirlymanor commented on #167
Here is an example with Angular 2.0:
https://jsfiddle.net/RayStra/1hk7knwq/2991/

[2019-01-12 08:40] crazycodewriter commented on #166
@strausr  after some changes it finally throws this error:

**HttpErrorResponse {headers: HttpHeaders, status: 400, statusText: "Bad Request", url: "http://localhost:3000/api/chatapp/delete-image/dh6zctck0uhmy6m7sgh4/1546520357", ok: false, …}
error:
message: "Image not found"
__proto__: Object
headers: HttpHeaders
lazyInit: ƒ ()
lazyUpdate: null
normalizedNames: Map(0)
size: (...)
__proto__: Map

[2019-01-13 11:40] strausr commented on #166
Your code for the destroy method looks correct.
The error you're seeing is not related to Cloudinary or the destroy request. Moreover, the URL is not a Cloudinary one- http://localhost:3000/api/chatapp/delete-image/dh6zctck0uhmy6m7sgh4/1546520357

It looks like this is what is causing the error-
router.delete(
  '/delete-image/:imgId/:imgVersion'

But this is not related to the destroy request or

[2019-01-13 20:04] crazycodewriter commented on #166
This URL is the router URL for API which communicates with:

**Angular**

[code]
[code]
[code]

So for deleting each image it passes  imgId and imgVersion for sending request through the Angular Observable to that mentioned URL. It's a typical connection between Angular and Node.js. What do you recommend to change with that router?

[2019-01-14 13:37] crazycodewriter commented on #166
After restarting the computer it finally started working. Now it's deleting image but there is one bug. When we upload an image, then set that one as profile image and after some period delete that image, it deletes from our images tab and deletes from cloudinary as well but it stays as the profile image even after deleting. How does it stay there even when then that image doesn't exist in Cloudin

[2019-01-14 14:32] strausr commented on #166
The image is cached. When deleting you should set invalidate to true. You can read more on invalidation on the following link- https://cloudinary.com/documentation/upload_images#invalidating_cached_media_assets_on_the_cdn

[2019-01-14 16:01] #166 closed

[2019-01-17 16:53] ishtaqkhan opened #169 "getting unauthorized error while getting list of images json"
getting unauthorized error while getting list of images json
![image](https://user-images.githubusercontent.com/22650927/51334729-6d2bef80-1aa6-11e9-9d75-e3d0e40d664e.png)

[2019-01-17 16:56] igy commented on #169
Hi Ishtaq,
The [client-side resource list](https://cloudinary.com/documentation/image_transformations#client_side_resource_lists) resource type is disabled by default on all accounts for security reasons.
You can fix this by opening the Security settings in your Management console and clearing the checkmark from the Resource list item under Restricted image types, then save the settings.

Please t

[2019-01-17 17:10] ishtaqkhan commented on #169
thank you very much. Appreciate your help!!  I am able to get response now.

[2019-01-17 17:10] #169 closed

[2019-01-17 17:11] igy commented on #169
Great, glad to hear it!

[2019-01-30 16:36] uded commented on #77
I believe this is still a problem - did everything exactly as in the given CLI based example and I have same problem.

In my case it's Angular 7.2.x and latest Cloudinary libraries

[2019-01-31 13:58] strausr commented on #77
@uded Can you please share with us the error you're seeing?

[2019-02-01 16:49] BrendanBerkley opened #170 "Does the [clSrcset] directive actually work? If so, how?"
Documentation was extremely light on this feature in particular. When I used it by passing in a single ID, it'd create an image with a srcset of...just that image. Just one image, but the basic functionality is there. If I tried to do something like `[clSrcset]="imageId 400w, imageId 800w"`, it would stringify that and error rather than setting up two image URLs for me.

Am I using it wrong? Is th

[2019-02-03 09:34] strausr commented on #170
Can you please share with us your implementation?

[2019-02-06 00:59] BrendanBerkley commented on #170
I created https://github.com/BrendanBerkley/Cloudinary-Angular-clSrcset-Issue to demonstrate the problem. Relevant code is here:

[code]

[2019-02-27 17:25] bufke commented on #170
Here is an example of how to use it

[code]

Notice how you have to pass the full url (not the public id). Using the directives you can still make use of cloudinary features like auto format. This won't work with cl-image. I'm not aware of any way to make a srcset with cl-image which is too bad as that would let you pass just the public id and let cl-image find your cloud_name for you (set globall

[2019-03-08 09:32] Orucb opened #172 "about download"
Hello,
is it possible to  download this sample ocr project?

[2019-03-08 13:35] IyiKuyoro commented on #147
Hello,

I just ran into this issue and the solution posted by @eitanp461 fixed it.

May I ask. Is it within the capacity of this team to update this documentation? https://cloudinary.com/documentation/angular_integration

[2019-03-10 09:05] yakirp commented on #147
Hi @IyiKuyoro , I will check this with our Doc Team. Thanks :)

[2019-03-10 09:11] yakirp commented on #172
Hi,
I'm not sure we have an Angular OCR sample project.
If you need any help with OCR, please try to contact us at support@cloudinary.com

Best
Yakir

[2019-04-10 16:52] mrkhangtran opened #174 "Cannot read property 'responsive_class' of null"
Hi everyone,

I am getting an issue with Cloudinary on production only (ng build --prod) which works fine on development. The issue is as below

**Error**
Cannot read property 'responsive_class' of null

**Environment**
- Angular 7.2.1
- @cloudinary/angular-5.x": "1.0.2
- cloudinary-core": "2.6.2
- Angular CLI

**How I import the module**
- AppModule
![image](https://user-images.githubusercontent.

[2019-04-11 11:29] strausr commented on #174
@mrkhangtran can you please share with us a repo or a live implementation so that we can further investigate this?

[2019-04-18 14:40] mrkhangtran commented on #174
hi @strausr

Thanks for looking into this. Sorry for my late response.
I have created a repo to reproduce this at https://github.com/mrkhangtran/CloudinaryDemo

On experimenting this on a blank repo. I found out that this error happens when using the Cloudinary directive "cl-image" (I have not tried others yet)

I imported the Cloudinary and used the cl-image in SampleModule > SampleComponent

I c

[2019-04-21 11:29] strausr commented on #174
Hi @mrkhangtran

I couldn't find where you're importing Cloudinary. Can you please specify the path?

[2019-04-22 02:58] mrkhangtran commented on #174
hi @strausr

Please navigate to /src/app/main/sample/sample.module.ts

[2019-04-22 09:31] strausr commented on #174
@mrkhangtran it like you're using an older version of cloudinary-core. Can you please update to the latest version?

[2019-04-23 17:25] mrkhangtran commented on #174
hi @strausr

I have updated the package cloudinary-core to latest version 2.6.3
One thing I notice is that the version inside the JS files are still 2.6.2
![image](https://user-images.githubusercontent.com/20411087/56601857-62917100-6626-11e9-97fb-6fd38657fcb5.png)

I tested again, now the 'responsive_class' error has gone, however another error shows up in console as "Unknown cloud_name" in produ

[2019-04-24 12:08] strausr commented on #174
@mrkhangtran Please make sure that the version is actually updated. You might need to delete your node-modules.

The error you're seeing is usually related to cloud_name being incorrect. Can you please verify that it is being imported correctly.

[2019-04-24 16:16] mrkhangtran commented on #174
hi @strausr

I have updated the cloudinary-core package as the "responsive_class" error does not happen anymore.
Please have a look here https://github.com/cloudinary/pkg-cloudinary-core/blob/master/cloudinary-core.js which is still 2.6.2 in the header while the version is stated to be 2.6.3

Regarding to the cloud_name, it works in development mode, with the same config being used for production

[2019-05-05 23:51] aleksandar-cloudinary commented on #174
Hi @mrkhangtran. Regarding the cloud_name error, are your other environment variables/setup the same between development and production?

[2019-05-06 02:32] mrkhangtran commented on #174
hi @aleksandar-cloudinary ,

Thanks for looking into this. To make sure of this, I used just a single config for both development and production (without referencing environment variables)

Please check my cloudinary config
https://github.com/mrkhangtran/CloudinaryDemo/blob/master/src/app/cloudinary.config.ts

And this is where I import the config
https://github.com/mrkhangtran/CloudinaryDemo/blob

[2019-05-10 11:40] aleksandar-cloudinary commented on #174
Hi @mrkhangtran. Thanks for providing this. At first glance, the setup looks correct. Would you be able to see which cloud_name is attempted to be sent to Cloudinary? As that could narrow down where this issue is originating from. In addition, are you running this with `ng build --configuration=production`?

[2019-05-18 06:51] bjornharvold opened #176 "<cl-transformation [width]="'100'"/> not possible"
Hi Team Cloudinary!

Was this a design decision? I need to create a module slideshow viewer and need to inject the width and the height into the slideshow for different use cases.

As it stands, this doesn't work. I can only hardcode the width and the height. E.g. width="100".

Thoughts?

Cheers,
Bjorn

[2019-05-19 08:25] strausr commented on #176
@bjornharvold Can you please elaborate more on how you're injecting?

[2019-05-28 07:52] bjornharvold commented on #176
This is how we use it now. Not possible to make those values dynamic as it stands.

[code]

[2019-06-02 08:46] strausr commented on #176
@bjornharvold  Thanks for the clarification. I'll open a feature request to further discuss this with the team. If we decide to support this in the future, we'll update here on this thread.

[2019-07-01 06:47] codepan101 opened #208 "Not able to set public_id for image upload"
In one of my project we are using cloudinary for image upload using node.js like,

`cloudinary.v2.uploader.upload("sample.jpg",
  { public_id: "some_id" },
  function(error, result) {console.log(result, error); });`

As you can see here we have the option to provide `public_id` for the uploaded image explicitly but in cloudinary angular sdk we don't have such flexibility (I am upgrading my project

[2019-07-01 10:53] igy commented on #208
Hi Ashutosh,
May I please ask for an example of how you're performing uploads from your Angular code and where you're trying to set the public_id?
Uploading from Angular is usually via a third party file upload library, our JQuery SDK or a direct HTTP call from Javascript  - in each case, you're most likely using an unsigned upload preset because it's a client-side piece of code, so many of the op

[2019-07-02 13:51] strausr commented on #208
@codepan101 You can provide a public_id by appending it to the form. For example,
`form.append('public_id', '<my_file>');`

You can view our sample project on the following for more information. Specifically the photo-upload.component.ts- https://github.com/cloudinary/cloudinary_angular/blob/master/samples/photo_album/app/js/photo-album/photo-upload.component.ts#L48

[2019-07-03 06:19] codepan101 commented on #208
Hey @strausr @igy thanks for replying. I am using this method for uploading images,

`//Upload.component.ts
import { Component, OnInit } from '@angular/core';
import { CloudinaryOptions, CloudinaryUploader } from 'ng2-cloudinary';
@Component({
selector: 'app-upload',
templateUrl: './upload.component.html',
styleUrls: ['./upload.component.css']
})
export class UploadComponent implements OnInit {
up

[2019-09-07 05:01] caelinsutch opened #231 "NullInjectorError: No provider for Cloudinary!"

[2019-09-07 05:01] caelinsutch commented on #231
Angular 8 using @cloudinary/angular-5.x library.

Lazy loading modules.

Followed proper import instructions

[2019-09-07 05:02] caelinsutch commented on #231
Nevermind, just figured it out, had mixed imports from 4.x and 5.x. naming scheme sucks :(

[2019-09-07 05:02] #231 closed

[2019-09-07 05:37] caelinsutch opened #232 "Provide Cloudinary Error"
I'm getting the following error during AOT in Angular 8:

[code]

[2019-09-08 14:42] eyalktCloudinary commented on #232
Hey @caelinsutch, can you please elaborate on the steps you have taken that ended with this error? Can you share the app.module.ts file or at least line 44?
You may find this thread helpful - https://stackoverflow.com/questions/51037356/error-in-error-during-template-compile-of-appmodule

[2019-09-21 07:01] bjornharvold opened #233 "Chrome 77 support for lazy loading not possible with cl-image"
Hi,

Now that Chrome 77 is out, I wanted to add lazy loading to all our Cloudinary images.

I am trying to do something like this:
[code]

cl-image correctly applies loading="lazy". However, it loads the image immediately regardless. By the looks of it, the loading is not under the control of the img element but the cl-image element.

Please advise,
Bjorn

[2019-09-22 11:34] roeeba commented on #233
Hi @bjornharvold. The feature you are looking for is not supported yet. However, We went ahead and opened a feature request on your behalf and forwarded it to our Product Team to further analyze.
At this point in time, we cannot guarantee if and when this will be implemented, but once we have any updates available, we’ll make sure to share it with you.
Thank you for your understanding and patience

[2019-09-23 01:59] bjornharvold commented on #233
Cheers

[2019-10-01 20:16] renanbmx123 opened #234 "Where are the config.ts"
im looking for **config.ts** that is calling by the **app.module.ts**, but i didnt find it. A i dont have idea how i can configure this module for make the project working. Im using Angular 8.2.8

[2019-10-01 20:19] #234 closed

[2019-11-06 19:26] acevedo93 opened #238 "How i can get images from subfolders cloudinary on angular component?"
Hello I need to show images in the frontend, all the images that I have inside a folder on cloudinary, eje( /uploads/brand/brand-test/image),

How can I access this route from the angular component?

Thanks

[2019-11-06 22:32] rebeccapeltz commented on #238
@acevedo93  It looks like you have opened a ticket with us, so we are going to use that channel to help with specific questions. You should have received email regarding your original ticket.
You can find documentation on our angular SDK with links to sample implementations here: https://cloudinary.com/documentation/angular_integration.

[2019-11-07 14:23] acevedo93 commented on #238
Hello the ticket was deleted? I can't find it in the support forum, could you pass me the link, or continue through this medium?

[2019-11-11 16:36] rebeccapeltz commented on #238
The tickets created by the above questions were merged into https://cloudinary.zendesk.com/agent/tickets/98923.

[2019-11-17 12:10] roeeba commented on #233
Hi @bjornharvold, I wanted to update you that the lazy loading feature is ready and waiting for the release. If you'd like. you can clone it and see if it works for you - https://github.com/cloudinary/cloudinary_angular/tree/feature/lazy-load-directive.

Also, looking at your code above, using `loading="lazy"` on Chrome should work (we've managed to use it successfully on Chrome). If you want us t

[2019-11-18 04:02] bjornharvold commented on #233
Well THAT just made my day! I'll wait for the released version. Cheers @roeeba!

[2019-11-24 10:14] strausr commented on #18
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-11-24 10:14] #18 closed

[2019-11-24 10:35] strausr commented on #37
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-11-24 10:35] #37 closed

[2019-11-24 10:36] strausr commented on #54
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-11-24 10:36] #54 closed

[2019-11-24 10:38] strausr commented on #57
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.
Note the cl-video is supported- examples can be found on our sample project- https://github.com/cloudinary/cloudinary_angular/tree/master/samples/photo_album

[2019-11-24 10:38] #57 closed

[2019-11-24 10:39] strausr commented on #86
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-11-24 10:39] #86 closed

[2019-11-24 11:47] strausr commented on #232
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-11-24 11:47] #232 closed

[2019-11-24 11:49] strausr commented on #174
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-11-24 11:49] #174 closed

[2019-11-26 00:21] camicase82 opened #240 "Problems uploading images without using ng2FileSelect"
Hi, Im working on an Ionic4 app, and trying to upload some images to cloudinary, so far I've followed all the steps on the examples, except the use of ng2FileSelect, basically due to the case that my app needs to do some cropping and transformations to the images, but I'm getting  the following error"

`Access to XMLHttpRequest at 'https://api.cloudinary.com/v1_1/qentek/upload' from origin 'http:/

[2019-11-26 00:28] camicase82 commented on #240
Nvm, need to get some sleep, in my question was already the answer

[2019-11-26 00:28] #240 closed

[2019-12-15 02:42] MarvinBanguero opened #242 "Get this error in production TypeError: Cannot read property 'CloudinaryJQuery' of null TypeError: Cannot read property 'CloudinaryJQuery' of null"
![image](https://user-images.githubusercontent.com/54600240/70857330-4a72a880-1eba-11ea-9742-d72cbc3a6c99.png)
![image](https://user-images.githubusercontent.com/54600240/70857338-6d04c180-1eba-11ea-9cb2-b663fd3b0802.png)

Help me please I be worry :(

[2019-12-16 13:05] michalkcloudinay commented on #242
Hi @MarvinBanguero please refer to this issue: https://github.com/cloudinary/cloudinary_angular/issues/92

[2019-12-17 20:04] MarvinBanguero commented on #242
Thank you, me serve but  for angular-5.x must be export the variable config
![image](https://user-images.githubusercontent.com/54600240/71029951-79696400-20de-11ea-9edf-4ced4327482b.png)
![image](https://user-images.githubusercontent.com/54600240/71029966-80907200-20de-11ea-9e7d-9fc83d5df60c.png)

[2019-12-17 23:24] rebeccapeltz commented on #242
If you're having trouble with the config, make sure that you've created a config file that holds your configuration. It should be named config.ts and be in the same directory as the app.module.ts.
See this for an example of importing it at line 6
[https://github.com/cloudinary/cloudinary_angular/blob/master/samples/angular-cli-sample/src/app/app.module.ts](https://github.com/cloudinary/cloudinary_

[2019-12-17 23:44] MarvinBanguero commented on #242
Hi Rebbeccca, thank you it's work.

El mar., 17 dic. 2019 a las 18:24, Rebeccca Peltz (<notifications@github.com>)
escribió:

[2019-12-22 10:14] roeeba commented on #233
@bjornharvold The library was updated a couple of weeks ago, including the change.

[2019-12-22 10:14] #233 closed

[2019-12-23 03:01] bjornharvold commented on #233
Thank you @roeeba. We have already implemented that on our side using your new version and will be deploying to production shortly.

[2019-12-28 21:26] MoAsmar opened #244 "Get all image resources not working in angular (Admin API)"
I am trying to read all my image resources through one of the [Admin API](https://cloudinary.com/documentation/admin_api#get_resources)
`curl https://<API_KEY>:<API_SECRET>@api.cloudinary.com/v1_1/<cloud_name>/resources/image
`

but I couldn't get any data from angular, the cURL request is returning **unkown error**
Also I tried using ajax call but the response was unauthorized.

I need a way to l

[2019-12-29 11:23] michalkcloudinay commented on #244
Hi @MoAsmar, For security reasons, you can't include your API secret in the client-side application.
You can use [Client-side resources](https://cloudinary.com/documentation/advanced_url_delivery_options?query=json%20list%20images&c_query=Client-side%20resources#client_side_resources) to list resources from the client-side by their tags. The response is a JSON snippet containing all resources whic

[2019-12-30 10:45] MoAsmar commented on #244
Hi, I already tried that and getting 404 error, also isn't this a security issue and anyone with the url can access my images ?

[2019-12-30 13:22] michalkcloudinay commented on #244
@MoAsmar In order to further assist and check the errors you are getting can you please open a ticket at support@cloudinary.com with your cloud name?

[2019-12-30 15:17] MoAsmar commented on #244
sure thanks

[2019-12-30 15:17] #244 closed

[2019-12-31 14:06] #242 closed

[2020-02-05 06:47] roeeba commented on #64
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2020-02-05 06:47] #64 closed

[2020-02-05 06:51] roeeba commented on #170
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2020-02-05 06:51] #170 closed

[2020-02-05 06:52] roeeba commented on #172
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2020-02-05 06:52] #172 closed

[2020-02-05 06:53] roeeba commented on #238
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2020-02-05 06:53] #238 closed

[2020-02-05 09:37] strausr commented on #208
@codepan101  My apologies for the late response. This is probably not relevant anymore but for those reaching this thread- please find the following upload example https://github.com/cloudinary/cloudinary_angular/blob/master/samples/photo_album/app/js/photo-album/photo-upload.component.ts#L48

[2020-02-05 09:37] #208 closed

[2020-02-07 14:12] minirobotdan opened #248 "Does not compile in Angular 9.0"
Would appear the module is missing some metadata required to compile under Ivy, as per [this issue](https://github.com/angular/angular/issues/30972).

Error during ng serve:

`ERROR in node_modules/@cloudinary/angular-5.x/src/cloudinary.module.d.ts:16:22 - error NG6002: Appears in the NgModule.imports of GlobalModule, but could not be resolved to an NgModule class`

[2020-02-08 13:51] asisayag2 commented on #248
Thanks for the feedback @minirobotdan,
We are actively working on adapting to Angular9 and the next version will support it

[2020-02-11 14:46] hassanasad opened #250 "Images not showing in Chrome v80 when loading="lazy""
In Chrome versions prior to 80 everything works fine. However the images that have attribute `loading="lazy"` stop showing up. The image tag inside the `cl-image` component is set to `display: none`.

Is anyone else have this issue?

My simple code:
[code]

[2020-02-16 10:51] strausr commented on #250
@hassanasad we're unable to reproduce this on our end. Can you please provide a sample code where we can see this?

[2020-02-17 10:00] roeeba commented on #49
Hi, although a bit late, for prosperity, here's a code snippet that applies responsiveness on the image tag:

`<cl-image public-id="kit" responsive width="auto" crop="scale"></cl-image>`

[2020-02-17 10:00] #49 closed

[2020-02-17 12:45] jackieros commented on #49
See also: https://docs-dev.cloudinary.com/documentation/angular_image_manipulation#responsive_image_settings

[2020-02-18 10:45] roeeba commented on #248
A new version was released yesterday, including Angular 9 support. Please let us know if you have any feedback. Thanks!

[2020-02-18 10:48] minirobotdan commented on #248
Great, look forward to trying this out, thanks!

[2020-02-18 10:48] #248 closed

[2020-02-25 08:05] hassanasad commented on #250
I have provided a simple code example above. Can you please make sure you flush browser cache and then try. In Chrome browser, the images stop showing up with `loading="laze"` attribute. I have tested this on three computers, one running Mac and two on Windows.

[2020-02-25 09:01] strausr commented on #250
@hassanasad is that snippet the only thing on your page? when using lazy loading on chrome the threshold of the viewport is quite large.

Using your snippet with the following yields a lazy-loaded resource.

[code]

You can find more information on the threshold on the following- https://cs.chromium.org/chromium/src/third_party/blink/renderer/core/frame/settings.json5?l=971-1003&rcl=e8f3cf0bbe085f

[2020-02-25 09:41] strausr commented on #176
@bjornharvold My apologies for the late reply.
This can be resolved with accessing `[attr.width]` or `[attr.height]`. For example,

`<cl-image public-id="sample" [attr.width]="dynamicWidth"></cl-image>`

Please let me know if this works for you

[2020-02-26 16:16] hassanasad opened #257 "Cloudinary adding opacity and position properties automatically"
The package is adding the following properties to the `<img>` automatically - I am not sure why though?

[code]

Versions:
Angular: 9.0.2
Cloudinary-Angular: 1.2.0-rc.0
Cloudinary-core: ^2.8.1

[2020-02-27 08:11] strausr commented on #257
@hassanasad This is as expected and is part of our placeholder feature.

[2020-02-27 08:16] hassanasad commented on #257
@strausr hmm - its causing some issues for me on. Is there a way to turn it off ?

[2020-03-01 11:21] strausr commented on #176
Closing due to time elapse. Please let us know if you have any further questions

[2020-03-01 11:21] #176 closed

[2020-03-08 08:27] arthurRbr opened #258 "Angular 9 - Deprecated use of ModuleWithProvider without a type"
Hello,

I'm getting the following error at compilation time. I'm using cloudinary 1.1.0 and @angular/core 9.0.5.

[code]

[2020-03-08 10:11] eyalktCloudinary commented on #258
Hey @arthurRbr, support for Angular 9 was added in our latest release of the SDK - 1.2.0
https://github.com/cloudinary/cloudinary_angular/releases/tag/(5.x)1.2.0-rc.0
Can you please try installing the latest version and see if the issue persists?

[2020-03-14 16:05] kresdjan opened #260 "Links to sample code are broken"
From GitHub and from your documentation. All link to Angular sample code are broken. I just want to find a simple example on how to upload an image using Angular.

[2020-03-16 11:49] strausr commented on #260
@kresdjan Thanks for the update we'll update the links to the sample code. Note that we don't have a direct upload but rather use the following- https://cloudinary.com/blog/file_upload_with_angular_or_angularjs_to_cloudinary

[2020-03-19 08:44] hassanasad commented on #250
Did you try it on Chrome version => 80 ?
It doesn't work for me. The image just doesn't display because of the `display: none` style applied to it.

[2020-03-20 10:29] strausr commented on #250
The images are loading for me on chrome 80. Here's a sample that's using both lazy load and the placeholder component you can use as a reference- https://codesandbox.io/s/nice-mahavira-qt46g

If you're still experiencing issues can you please share a sample on codesandbox or stackblitz where you recreate the issue?

[2020-03-20 17:44] sandeep18051989 commented on #142
Not found

[2020-03-20 18:10] strausr commented on #142
@sandeep18051989 see #260 this will be handled in the next release.

[2020-04-10 21:32] jneterer opened #269 "Can't set image placeholder in Angular v9"
## Describe the bug
When using `<cl-placeholder></cl-placeholder>` to set an image placeholder described [here](https://cloudinary.com/documentation/angular_image_manipulation?query=placeholder&c_query=Overview#image_placeholders) I am getting the following error:

    at CloudinaryPlaceHolder.getPlaceholderImage (cloudinary-angular-5.x.js:277)
    at CloudinaryPlaceHolder.ngAfterContentChecked (c

[2020-04-12 17:24] patrick-tolosa commented on #269
Thanks for the detailed report, We're investigating this issue and will report back shortly.

[2020-04-13 14:12] strausr commented on #269
@jneterer Thank you for your report. This has been fixed in the latest release. Please let us know if you have any other issues.

[2020-04-13 14:12] #269 closed

[2020-04-13 14:13] strausr commented on #260
@kresdjan Thank you for your report. This has been fixed in the latest release. Please let us know if you have any other issues

[2020-04-13 14:13] #260 closed

[2020-04-13 14:14] strausr commented on #257
@hassanasad Thank you for your report. This has been fixed in the latest release. Please let us know if you have any other issues

[2020-04-13 14:14] #257 closed

[2020-04-14 03:11] jneterer commented on #269
@patrick-tolosa @strausr The changes are working as expected, thank you for the quick response and fix!

[2020-04-14 09:12] #258 closed

[2020-04-14 15:59] hassanasad opened #272 "Cloudinary Angular-5.x is not Angular 9 compatible"
Even though the release notes of 1.2.2 say that its Angular 9 compatible - i am getting following error when updating my Angular project.

[code]

[2020-04-15 22:06] aditimadan-Cloudinary commented on #272
For reference: https://codesandbox.io/s/cloudinary-angular-media-library-ofmex . This one is using Angular 10 and it is compatible with the cloudinary libs. Can you please try using the same versions and test.

[2020-04-16 12:12] hassanasad commented on #272
I believe you can replicate this issue by running:
`ng update @angular/cli @angular/core` command. It will throw the errors i mentioned above.

[2020-04-16 14:46] strausr commented on #272
@hadarbj Thanks for the information. For future reference,  please note that we have an error template where you can specify more information when opening such issues.

The issue which you are describing is related to ng-update. In the meantime, can you please try using npm install to update  @angular/cli @angular/core ?

[2020-04-16 15:14] hassanasad commented on #272
@strausr Sure.
Yes with NPM install it works. However each time we update Angular we use the ng-update because of any migrations etc that might be required with it. I believe this issue can be resolved by declaring the Angular version strings as a range maybe.

[2020-04-16 15:17] hassanasad commented on #272
Some libraries do it like this:
[code]

Perhaps you can see this for reference: https://github.com/valor-software/ngx-bootstrap/blob/development/package.json

[2020-04-16 15:31] strausr commented on #272
@hassanasad Thanks for the advice and feedback:) we'll discuss this internally and update here if we decide to change anything

[2020-06-25 06:38] bjornharvold commented on #272
Yes, please bump peer dependency to Angular 10. Have to --force an "ng update" which shouldn't be necessary.

[2020-06-25 10:30] strausr commented on #272
@bjornharvold will be handled in the next release

[2020-06-29 14:20] turp opened #282 "cloudinary_ng 1.1.1 and webpack"
Similar to https://github.com/cloudinary/cloudinary_angular/issues/140.

I am prepping an old angular 1.6 application for upgrade. I've converted everything to webpack except for cloudinary. If I try to import the node_modules

[code]

I get the following error:

[code]

the application works properly if I add the script tags into the index.html

[code]

## Issue Type (Can be multiple)
[x] Build -

[2020-06-30 15:29] shirlymanor commented on #282
Hi @turp ,
Our best practice will be to use an updated version of our SDK.
Can you try it out and let us know if that works?

[2020-06-30 16:59] shirlymanor commented on #282
Hi @turp,

We opened a ticket to our dev team to look at it. However, because it's an old repo we do recommend using the workaround that works for you. We will update with any insights,

[2020-07-01 01:38] turp commented on #282
Thanks - for an angular 1.6 app, what versions of the SDK do you suggest?

[2020-07-01 03:28] turp commented on #282
I figured it out. In ```angular.cloudinary.js```, there is a block of code that is executed if AMD is defined

[code]

This is what caused the error. The fix was simple, add ```amd: false``` to the ```webconfig.config.js``` file:

[code]

[2020-07-01 03:28] #282 closed

[2020-07-12 20:12] abbasogaji commented on #272
@aditimadan-Cloudinary  Cloudinary module is not compatible with angular 9+, the angular cloudinary library doesnt return ModuleWithProviders  with a generic type.

"Angular version 9 deprecates use of ModuleWithProviders without an explicitly generic type, where the generic type refers to the type of the NgModule. In a future version of Angular, the generic will no longer be optional."

Currently

[2020-07-13 12:36] eyalktCloudinary commented on #272
@abbasogaji thank you for your feedback!
Note that the Cloudinary module does return ModuleWithProviders with a generic type -
https://github.com/cloudinary/cloudinary_angular/blob/master/projects/angular-cld/src/lib/cloudinary.module.ts#L61

Can you please recreate the issue, and elaborate on where are you seeing different behavior?
Is your version of the Cloudinary module up to date?

[2020-07-21 02:19] alsoicode opened #287 "cl-image not compatible with Angular 10"
## Bug report for Cloudinary Angular SDK
Before proceeding, please update to latest version and test if the issue persists

## Describe the bug in a sentence or two.
`cli-image` tag returns a syntax error

## Issue Type (Can be multiple)
Behaviour - Functions aren’t working as expected (Such as generate URL)

## Steps to reproduce
Add a `cl-image` tag and specify a valid public-id

## Error screen

[2020-07-21 10:32] eyalktCloudinary commented on #287
Hey @alsoicode, thanks for reaching out!
We would need some additional information in order to investigate the issue -
Could you reproduce the issue in a public repository we can debug?
Did you follow the integration steps detailed [here](https://cloudinary.com/documentation/angular_integration#angular_2_x_and_later)?
I can see that you have both "@cloudinary/angular" and "@cloudinary/angular-5.x"

[2020-07-21 11:19] abbasogaji commented on #272
I guess i installed the older version, let me try with the newer version

[2020-07-21 11:36] abbasogaji commented on #272
@eyalktCloudinary @aditimadan-Cloudinary   it works fine (v1.3.1) on Angular 10

[2020-07-21 11:42] eyalktCloudinary commented on #272
@abbasogaji Glad to hear it's working!

[2020-07-21 13:12] alsoicode commented on #287
@eyalktCloudinary I discovered what the actual problem was after creating a working StackBlitz: https://stackblitz.com/edit/angular-ivy-fs8uaa

In my template, I had added a css class to the `cl-image` tag:

[code]

In the previous versions I was using:

cloudinary-core: 2.8.2
@cloudinary-angular-5.x: 1.2.2

this was working as expected. It's not a big deal, I can certainly add the styling differe

[2020-07-21 13:12] #287 closed

[2020-07-23 14:23] #272 closed

[2020-08-07 05:01] ansitdevfive opened #292 "after updating latest version"
hi team,
               after updating latest verison of **@cloudinary/angular-5.x** is gives error on **node_modules/cloudinary-core/cloudinary-core.d.ts:853:** this file . please fixed it asap

see error https://lh3.googleusercontent.com/-mbZpLSEIf68/XyzdWvQMUhI/AAAAAAAADaw/Xm7V2fkweWsMl0dudR3QkZHD1wASNYNsQCK8BGAsYHg/s0/2020-08-06.png

![2020-08-06](https://user-images.githubusercontent.com/4606

[2020-08-07 17:01] chris480 opened #293 "No documentation to change domain and subdomain"
I see that [CloudinaryConfiguration](https://github.com/cloudinary/cloudinary_angular/blob/2ebb30ea436070276e9aca15d855c83aadfb4163/projects/angular-cld/src/lib/cloudinary-configuration.class.ts) has a field for **cdn_domain**
There is no clear way to set it as described in the documentation

## Versions and Libraries (fill in the version numbers)
Angular Cloudinary SDK - 5.x

[2020-08-07 20:37] shirlymanor commented on #293
@chris480 if you have a cname on your account (available for our advance plan and higher) you can add it in the config by copy and paste from your dashboard.
It will look like: CLOUDINARY_URL=cloudinary://XXXX:XXXX@XXXX?cname=<your cname>

[2020-08-07 20:41] shirlymanor commented on #292
@ansitdevfive can you please make sure you have the latest version? (e.g., cloudinary-core is at 2.6.3, the angular file is 2.10.2 ).
You might want to try our sandbox here: https://codesandbox.io/s/cranky-gareth-mwzh0?file=/src/app/app.component.ts

[2020-08-07 20:48] chris480 commented on #293
@shirlymanor So something like this?

`CloudinaryModule.forRoot({Cloudinary}, { cloud_name: 'your_cloud_name', cname: 'cdn.company.com' } as CloudinaryConfiguration),`

[2020-08-07 22:13] shirlymanor commented on #293
Here is an example:
[code]

[2020-08-08 02:25] chris480 commented on #293
Isn't that the React setup?

[2020-08-10 19:59] michalkcloudinay commented on #293
Hi @chris480,

This should work:

CloudinaryModule.forRoot({Cloudinary}, { cloud_name: 'your_cloud_name', cname: 'cdn.company.com' } as CloudinaryConfiguration),

[2020-08-11 09:27] patrick-tolosa commented on #292
Hey @ansitdevfive

We tracked down the issue to a strict flag in typescript that's causing this issue.
We've updated cloudinary-core to version 2.11.2

Please update and let us know if this persists after an update

[2020-08-13 03:01] chris480 commented on #293
Thanks.

[2020-11-17 09:56] rahul-rajabhoj opened #294 "ERROR ReferenceError: MutationObserver is not defined at CloudinaryImage.ngOnInit"
## ERROR ReferenceError: MutationObserver is not defined at CloudinaryImage.ngOnInit

Facing above error with below version of Cloudinary with Angular 10 SSR (Server Side Rendering)

"@angular/core": "~10.0.0",
"@cloudinary/angular-5.x": "^1.3.3",
"cloudinary-core": "^2.11.3",
"@nguniversal/express-engine": "^10.0.2"

node v12.18.1
nvm 6.14.5

## Bug Description

After adding cloudinary angular sd

[2020-11-17 12:01] roeeba commented on #294
Hi @rahul-rajabhoj. Thank you for pointing this out. We'll work on a fix and update here once done.

[2020-11-17 12:19] roeeba commented on #294
@rahul-rajabhoj You might also want to check our angular-universal sample at https://github.com/cloudinary/cloudinary_angular/tree/master/projects/angular-cld/samples/angular-universal-sample
(you’ll need to update `package.json` with `"@types/node”: “7.0.7"`)

[2020-11-23 06:27] chris480 opened #296 "Handling 404 images"
## Explain your use case
Some user submitted images inevitably disappear for one reason or another. Having the ability to handle a 404 (error) would be beneficial to controlling the end ux.

## Describe the problem you’re trying to solve
I want to add an error handler to the <cl-image> component

## Do you have a proposed solution?
Passing an error handler event to the component or the <img> tag g

[2020-11-23 10:33] roeeba commented on #296
Thank you for your suggestion, @chris480. We'll update here once the team reviews it.

[2020-12-08 20:33] chris480 opened #297 "Background image position options instead of center"
## Explain your use case
There are many cases where 'center center' is not ideal for background positions as defined in the background image directive. https://github.com/cloudinary/cloudinary_angular/blob/master/projects/angular-cld/src/lib/cloudinary-background-image.directive.ts

## Describe the problem you’re trying to solve
A way to provide an override without some css !important hack to cont

[2020-12-09 13:13] michalkcloudinay commented on #297
Hi @chris480, I have submitted a request internally to our product team to see if this can be added.
We will update you with any new information on this.

[2020-12-17 08:21] roeeba commented on #294
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com, or create a new ticket if you have any additional issues.

[2020-12-17 08:21] #294 closed

[2020-12-30 22:18] r3plica commented on #294
I wish you hadn't closed this. I am having the issue too

[2020-12-30 22:25] patrick-tolosa commented on #294
@r3plica  can you please open a fresh issue with your use case?

[2021-01-01 13:32] r3plica commented on #294
will do and I figured out what is causing it :(

[2021-01-02 13:08] r3plica opened #298 "ReferenceError: MutationObserver is not defined at CloudinaryImage.ngOnInit when using domino"
ERROR ReferenceError: MutationObserver is not defined at CloudinaryImage.ngOnInit
Facing above error with below version of Cloudinary with Angular 11 SSR (Server Side Rendering)

"@angular/core": "^11.0.5",
"@cloudinary/angular-5.x": "^1.3.3",
"cloudinary-core": "^2.11.3",
"@nguniversal/express-engine": "^11.0.1"
"domino": "^2.1.6",

node v12.18.3
npm 6.14.6

Bug Description
Cloudinary and Domino

[2021-01-02 14:13] r3plica commented on #298
You can probably close this. I found a workaround by adding this to my server.ts:

[code]

[2021-01-03 10:09] roeeba commented on #298
Thanks for the update, @r3plica. Closing.

[2021-01-03 10:09] #298 closed

[2021-01-05 03:57] bclynch opened #299 "SSR Lazy Load Directive Bug"
## Describe the bug in a sentence or two.

When using the loading="lazy" directive with SSR / Angular universal there are window is not defined errors. Checking if it exists [here](https://github.com/cloudinary/cloudinary_angular/blob/dc438c2c792dc1371e35fa345b2a526c30be60b3/projects/angular-cld/src/lib/cloudinary-lazy-load.directive.ts#L25-L27) might fix it?

## Issue Type (Can be multiple)

[x]

[2021-01-06 16:46] Vdeub-cloudinary commented on #299
Hi @bclynch, could you share a sample code like Codesandbox in order to reproduce the issue?
I tried to use an SSR Angular project from Codesandbox and adding Cloudinary which seems to work fine so I would like to be sure that I am in the same condition as you are.

[2021-02-04 01:58] pekevski opened #301 "Update Cloudinary Service Configuration during runtime"
## Feature request for Cloudinary Angular SDK
An api on the cloudinary service to update the configuration during runtime

## Explain your use case
We have implemented app configuration during runtime.

In order to initialise the config data of the cloudinary module we need to be able to update the configuration at a later stage of the angular module initialisation process.

## Describe the proble

[2021-02-04 03:35] pekevski commented on #301
I now realise I can update the Cloudinary service cloudinaryInstance with:

[code]
Would it still be worth the introduction of an api at the angular service layer that simply performs this?
I am happy to do the pull request if so.

[2021-02-04 11:30] eyalktCloudinary commented on #301
@pekevski Hey, thanks for reaching out!
Could you please elaborate on the use case? What configuration parameters would you want to update?
Why couldn't you configure those in app.module.ts (see [this section](https://cloudinary.com/documentation/angular_integration#config_params))?

[2021-02-04 13:42] pekevski commented on #301
Hey! Just to clarify, the ng app follows this runtime configuration approach at start up [blog example](https://labs.thisdot.co/blog/runtime-environment-configuration-with-angular). I could be wrong but I believe that the imports of the app.module.ts are called before the APP_INITIALIZER hook therefore we don't have our cloudinary credentials at the time of `CloudinaryModule.forRoot()`.

I can wor

[2021-02-08 14:48] eyalktCloudinary commented on #301
@pekevski Thanks for the clarifiaction - This is planned to be supported in v2 of the Angular SDK which is in a beta phase at the moment. I'll update this thread when it is officially released.

[2021-02-09 12:12] pekevski commented on #301
The update sounds good! I did start a branch that simply took a CloudinaryConfiguration object and updated the JS cloudinary instances' config if you would like me to push that?

Not sure if specific parameters only need updating, it could be flexible enough for any attribute in cloudinaryconfiguration to be applied?

[2021-02-09 14:29] eyalktCloudinary commented on #301
You can add a pull request for our dev team to consider, thanks! (cc @strausr)
We plan on making it flexible enough to change any attribute of CloudinaryConfiguration.

[2021-02-22 09:15] strausr commented on #301
Please find the latest release

[2021-02-22 09:15] #301 closed

[2021-03-04 22:34] chris480 opened #305 "Ability Skip SVG"
## Explain your use case
SVGs still get transformed and converted to some close format

## Describe the problem you’re trying to solve
Have the ability to cleanly and easily skip transformation of svgs if an file format is svg

## Do you have a proposed solution?
A new config at at?

[2021-03-06 20:13] aksjoshi1 commented on #305
@chris480 Can you provide more details on your workflow and what is happening and what you would like to happen?

[2021-03-07 01:56] chris480 commented on #305
@aksjoshi1 I have user generated content, and most of the time it's just jpgs or pngs. On occasion an svg is uploaded. Because I'm using transforms on the uploaded content, cloudinary will convert the svg to either jpg/png.

Ideally cloudinary could skip transforms of svgs without having write additional UI logic to determine if the image ID contains .svg

[2021-03-07 16:53] eyalktCloudinary commented on #305
@chris480 If you're using upload presets in order to transform the images on upload, you can add local logic that checks the file's format, and chooses a different preset for SVG uploads (if you're using our [upload widget](https://cloudinary.com/documentation/upload_widget) you can do that with the help of the `preBatch` parameter (in order to check the file format) and the `prepare` parameter (i

[2021-03-09 15:39] eyalktCloudinary commented on #305
@chris480 Thanks for the additional details. We have an internal task for adding the option to retain SVG format when using f_auto (`fetch_format="auto"`). I'll update this thread about any progress made.
In addition, if you are on an enterprise plan, our Solutions team can fix this for your account - In that case, please open a [support ticket](https://support.cloudinary.com/hc/en-us/requests/new

[2021-03-14 15:40] ddotx commented on #299
what is your angular version?

I'm also face this problem

[2021-03-18 17:58] martinsotirov commented on #299
I have the same problem on my server side rendered Angular 11 app.
[code]

[2021-03-18 19:29] d-mendoza commented on #299
@ddotx @martinsotirov could you share a sample code like Codesandbox in order to reproduce the issue?
I tried to use an SSR Angular project from Codesandbox and adding Cloudinary which seems to work fine so I would like to be sure that I am in the same condition as you are.

[2021-03-18 20:11] martinsotirov commented on #299
@d-mendoza, I'll see if I can extract a minimal example from our codebase.

Btw, I don't have an error with `window` missing like @bclynch because I'm injecting a window mock with [domino](https://www.npmjs.com/package/domino) in my `server.ts`.

My specific error with cloudinary and SSR is:

[code]

[2021-03-26 20:33] r3plica commented on #299
Hi, I also have this issue. It's directly related to the lazy directive. In the cloudinary.service.ts there is this method:

[code]

In the cloudinary-lazy-load.directive.ts the error is thrown here:

[code]

it states that window is not defined, but I propose that if you copy the method from the service, you could do something like this:

[code]

[2021-03-26 20:34] r3plica commented on #299
Oh, and to reproduce this issue, just create a new angular project, add angular universal and cloudinary. Then when you add your image, do it like this:

[code]

If you build your project with `npm run build:ssr` and then serve it with `npm run serve:ssr` you will reproduce the error.

[2021-04-25 13:05] strausr commented on #299
This issue has been resolve with the latest release (1.4.1). Please let us know if you're still experiencing this issue.

[2021-04-25 13:05] #299 closed

[2021-05-20 08:50] martinsotirov opened #307 "Angular 12 support"
Can you guys please add `^12.0.0` to the peerDependency of `@angular/common` and `@angular/core`?

[2021-05-24 07:46] strausr commented on #307
@martinsotirov Thanks again for your contribution:) please see the latest release.

[2021-05-24 07:46] #307 closed

[2021-08-04 08:55] strausr commented on #296
@chris480 We apologize for the late response. The native approach to this is using an `onerror` event

`<cl-image ... (onError)="doSomething($event)">
`

[2021-08-04 08:55] #296 closed

[2021-12-02 14:19] skelesp opened #312 "Angular 13 / 14 support"
Can you update the package so it is compatible with angular 13?

[2021-12-03 00:44] leptians commented on #312
We currently do not support Angular 13. However I have pass this message to our SDK team

[2022-01-08 13:57] skelesp commented on #312
@leptians : any progress on this one? Is your SDK team working on this issue?

[2022-01-08 18:02] belowthewing commented on #312
@skelesp although we do not currently support Angular 13, we may add this in the future. I will let you know if / when that happens.

[2022-06-10 20:41] momoip commented on #312
@volago I'm checking with our SDK team and will keep you posted.

[2022-06-11 06:20] bjornharvold commented on #312
Now that Angular 14 is out, bump that another +1.

[2022-06-14 13:00] michalkcloudinay commented on #312
Hi @bjornharvold and @volago,
The new Angular SDK is compatible with both Angular 13 and 14. You can find the latest package here: https://github.com/cloudinary/frontend-frameworks/tree/master/packages/angular
If you have any issues with configuring the SDK please let us know.
Thanks

[2022-06-20 04:43] indraraj26 commented on #312
I was trying to reproduce this issue [149](https://github.com/cloudinary/frontend-frameworks/issues/149) but in stackblitz, I am having error that 'CloudinaryModule' does not appear to be an NgModule class.

[stackblitz](https://stackblitz.com/edit/angular-ivy-eee3nf?file=src%2Fapp%2Fcloudinary-image.pipe.ts,src%2Fapp%2Fapp.module.ts,src%2Fapp%2Fapp.component.html,src%2Fapp%2Fhello.component.ts)

[2022-06-29 14:53] madhuri080301 opened #316 "cors policy cloudinary"
student-register:1 Access to XMLHttpRequest at 'cloudinary://839558444562869:qj8cuTFpXSv9qo2gIwHSofKj0BY@pharmacy-management' from origin 'http://localhost:3000' has been blocked by CORS policy: Cross origin requests are only supported for protocol schemes: http, data, chrome, chrome-extension, chrome-untrusted, https.
![image](https://user-images.githubusercontent.com/97608791/176467692-0e34a35c-